.icon {
    display: inline-block; background-size: contain !important; align-content: center !important;
    &.icon-threads {
        height: 20px; width: 20px; background: url(../images/icons/message.svg) no-repeat center center;
    }
    &.icon-favorites {
        height: 20px; width: 20px; background: url(../images/icons/star.svg) no-repeat center;
    }
    &.icon-start-fill {
        height: 20px; width: 20px; background: url(../images/icons/star-fill.svg) no-repeat center;
    }
    &.icon-settings {
        height: 20px; width: 20px; background: url(../images/icons/settings.svg) no-repeat center center;
    }
    &.icon-plus {
        width: 16px; height: 16px; background: url(../images/icons/plus.svg) no-repeat center;
    }
    &.icon-gif {
        width: 30px; height: 30px; background: url(../images/icons/gif.png) no-repeat center;
    }
    &.icon-pin {
        width: 30px; height: 30px; background: url(../images/icons/pin.png) no-repeat center;
    }
    &.icon-emoji {
        width: 30px; height: 30px; background: url(../images/icons/emoji.png) no-repeat center;
    }
    &.icon-send-fill {
        width: 30px; height: 30px; background: url(../images/icons/fill-send.png) no-repeat center;
    }
    &.icon-audio {
        width:  12px; height: 11px; background: url(../images/icons/icon-audio.png) no-repeat center;
    }
    &.icon-video {
        width: 12px; height: 8px; background: url(../images/icons/icon-video.png) no-repeat center;
    }
    &.icon-image {
        width: 12px; height: 12px; background: url(../images/icons/icon-image.png) no-repeat center;
    }
    &.icon-lg-close {
        width: 20px; height: 20px; background: url(../images/icons/icon-close.svg) no-repeat center;
    }
    &.icon-black-close {
        width: 18px; height: 18px; background: url(../images/icons/icon-black-close.svg) no-repeat center;
    }
    &.icon-dots {
        width: 24px; height: 6px; background: url(../images/icons/dots-horizontal-rounded.svg) no-repeat center;
    }
    &.icon-leave-channel {
        width: 16px; height: 16px; background: url(../images/icons/leave-channel.png) no-repeat center;
    }
    &.icon-right {
        width: 10px; height: 16px; background: url(../images/icons/icon-right-arrow.svg) no-repeat center;
    }
    &.icon-dots-horizontal-white {
        width: 12px; height: 3px; background: url(../images/icons/dots-horizontal-white.svg) no-repeat center;
    }
    &.icon-dots-horizontal {
        width: 18px; height: 5px; background: url(../images/icons/dots-horizontal-rounded.svg) no-repeat center;
    }
    &.icon-forward {
        width: 16px; height: 15px; background: url(../images/icons/forward.svg) no-repeat center;
    }
    &.icon-delete {
        width: 13px; height: 15px; background: url(../images/icons/delete.svg) no-repeat center;
    }
    &.icon-play {
        width: 30px; height: 30px; background: url(../images/icons/play.svg) no-repeat center;
    }
    &.icon-unfollow-thread {
        width: 20px; height: 19px; background: url(../images/icons/unfollow-thread.svg) no-repeat center;
    }
    &.icon-face-satisfied {
        width: 20px; height: 19px; background: url(../images/icons/face-satisfied.svg) no-repeat center;
    }
    &.icon-ellipsisv-v {
        width: 20px; height: 19px; background: url(../images/icons/ellipsisv-v.svg) no-repeat center;
    }
    &.icon-copy {
        width: 20px; height: 19px; background: url(../images/icons/copy.svg) no-repeat center;
    }
    &.icon-laughing-emoji {
        width: 20px; height: 20px; background: url(../images/icons/laughing-emoji.svg) no-repeat center;
    }
    &.icon-check {
        width: 16px; height: 16px; background: url(../images/icons/check.png) no-repeat center;
    }
    &.icon-dubble-check {
        width: 19px; height: 16px; background: url(../images/icons/dubble-check.png) no-repeat center;
    }
    &.icon-file {
        width: 21px; height: 24px; background: url(../images/icons/file.svg) no-repeat center;
    }
    &.icon-video {
        width: 30px; height: 30px; background: url(../images/icons/play-orange.svg) no-repeat center;
    }
    &.icon-user {
        width: 30px; height: 30px; background: url(../images/icons/user.svg) no-repeat center;
    }
    &.icon-remove-favorites {
        height: 19px; width: 16px; background: url(../images/icons/remove-star.svg) no-repeat center;
    }
    &.icon-info {
        height: 15px; width:7px; background: url(../images/icons/info.svg) no-repeat center;
    }
    &.icon-headphones {
        height: 18px; width:18px; background: url(../images/icons/headphones.svg) no-repeat center;
    }
    &.icon-pin {
        height: 16px; width:16px; background: url(../images/icons/pin-filled.svg) no-repeat center;
    }
    &.icon-copy-outline {
        height: 13px; width:13px; background: url(../images/icons/copy-icon.svg) no-repeat center;
    }
    &.icon-screen-1 {
        height: 18px; width:18px; background: url(../images/icons/screen-1.svg) no-repeat center;
    }
    &.icon-screen-2 {
        height: 18px; width:18px; background: url(../images/icons/screen-2.svg) no-repeat center;
    }
    &.icon-grid {
        height: 16px; width:16px; background: url(../images/icons/icon-grid.svg) no-repeat center;
    }
    &.icon-video {
        height: 22px; width:22px; background: url(../images/icons/video.svg) no-repeat center; background-size: 22px !important;
    }
    &.icon-phone {
        height: 26px; width:26px; background: url(../images/icons/phone.svg) no-repeat center; background-size: 26px !important;
    }
    &.icon-dots-white {
        height: 20px; width:20px; background: url(../images/icons/dots-horizontal-white.svg) no-repeat center; background-size: 20px !important;
    }
    &.icon-microphone {
        height: 26px; width:26px; background: url(../images/icons/microphone.svg) no-repeat center; background-size: 26px !important;
    }
    &.icon-comments {
        height: 20px; width:20px; background: url(../images/icons/comment.svg) no-repeat center; background-size: 20px !important;
    }
    &.icon-user-multiple {
        height: 24px; width:24px; background: url(../images/icons/user-multiple.svg) no-repeat center; background-size: 24px !important;
    }
    &.icon-user-follow {
        height: 24px; width:24px; background: url(../images/icons/user-follow.svg) no-repeat center; background-size: 24px !important;
    }
    &.icon-screen-share {
        height: 24px; width:24px; background: url(../images/icons/screen-share.svg) no-repeat center; background-size: 24px !important;
    }
    &.icon-chevron-arrow {
        height: 8px; width:13px; background: url(../images/icons/chevron-bottom.svg) no-repeat center;
    }
    &.icon-video-call {
        height: 12px; width:18px; background: url(../images/icons/video-call.svg) no-repeat center;
    }
    &.icon-turn-microphone {
        height: 16px; width:16px; background: url(../images/icons/turn-microphone-off-button.svg) no-repeat center;
    }
    &.icon-headset {
        height: 12px; width:12px; background: url(../images/icons/headset.svg) no-repeat center;
    }
}