// @import url('//fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// /* Variables */
// $bodyfont		  : 'Roboto', sans-serif!important;
@import url('//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/* Variables */
$websitebodyfont		: 'Poppins', sans-serif;
$websitebodyfontsize	: 16px;
$websitebodycolor		:#ffffff;

$white		:#fff;
$black		:#000;
$darkblack  :#1A1A1A;
$blackgray	:#15181A;
$blackgray2	:#141821;
$lightblack  :#444444;

$gray		:#858997;
$lightgray  :#C2C6D1;
$midgray    :#f1f3f9;
$darkgray	:#727272;
$orange     :#F03A01;
$red        :#f25a6b;
$blue		:#4A4BFF;
$lightblue	:#2F66FF;
$darkblue	:#5351FB;
$green      :#7FE230;

$latofont		: 'Lato', sans-serif!important;;

/* Images
$commonIconPath

/* Mixins */
@mixin appearance($value) {
    -webkit-appearance: $value; 
    -moz-appearance: $value; 
    appearance: $value;
}
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}
@mixin box-shadow ($box-shadow){
    -moz-box-shadow:$box-shadow;
    -webkit-box-shadow:$box-shadow;
    box-shadow:$box-shadow;
}
@mixin box-shadow-all ($bs-t, $bs-r, $bs-b, $bs-l, $box-shadow-all-color){
    box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
    -webkit-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
    -moz-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
    -o-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
}
@mixin transition($duration, $ease) {
    -webkit-transition: all $duration $ease;
    -moz-transition: all $duration $ease;
    -o-transition: all $duration $ease;
    transition: all $duration $ease;
}
@mixin transition-all($all, $visibility, $z-index) {
    -webkit-transition: $all, $visibility, $z-index;
    -moz-transition: $all, $visibility, $z-index;
    -o-transition: $all, $visibility, $z-index;
    transition: $all, $visibility, $z-index;
}
@mixin opacity($value) {
    -moz-opacity: $value;
    -khtml-opacity: $value;
    -webkit-opacity: $value;
    opacity: $value;
}
@mixin mb ($value) {
    margin-bottom: $value;
}
@mixin mt ($value) {
    margin-top: $value;
}
@mixin ml ($value) {
    margin-left: $value;
}
@mixin mr ($value) {
    margin-right: $value;
}
@mixin pb ($value) {
    padding-bottom: $value;
}
@mixin pt ($value) {
    padding-top: $value;
}
@mixin pl ($value) {
    padding-left: $value;
}
@mixin pr ($value) {
    padding-right: $value;
}

/* display: flex */
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
      -moz-justify-content: $justify;
        -ms-justify-content: $justify;
            justify-content: $justify;
              -ms-flex-pack: $justify;
}
@mixin align-items($align) {
    -webkit-align-items: $align;
      -moz-align-items: $align;
        -ms-align-items: $align;
        -ms-flex-align: $align;
            align-items: $align;
}
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
      -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
      -moz-flex-wrap: $wrap;
        -ms-flex-wrap: $wrap;
            flex-wrap: $wrap;
}
@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
      -moz-flex-flow: $flow;
        -ms-flex-flow: $flow;
            flex-flow: $flow;
}
// Display Order
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
      -moz-box-ordinal-group: $val;     
          -ms-flex-order: $val;     
            -webkit-order: $val;  
              order: $val;
}

@mixin transform($value) {
    -moz-transform: $value;  
    -webkit-transform: $value;  
    -o-transform: $value;  
    -ms-transform: $value; 
    transform: $value;
}

/** Operation **/
/* Parametric Mixins */
/** Guarded Mixins **/

/* common CSS - Start */
html .website {
    .cursor-pointer { cursor: pointer; }
    .height-auto { min-height: auto !important; }
    .text-gray { color: $gray !important; }
    .text-darkblack { color: #1a1a1a!important; }
    .text-blue { color: $darkblue !important; }
    h1, .h1 { font-size: calc(28px + (44 - 28) * ((100vw - 300px) / (1900 - 300))); font-weight: bold; }
    h2, .h2 { font-size: 2.2rem; font-weight: bold; }
    h3, .h3 { font-size: 24px; font-weight: bold; }
    .h4 { font-size: 1.5rem; }
    .h5 { font-size: 1.25rem; }
    .btn { box-shadow: 0px 10px 40px rgba(0, 62, 191, 0.10); font-weight: 500; font-size: 16px; text-align: center; height: 50px; padding: 0px 20px; @include border-radius(0px); @include transition(0.3s, ease-in-out); font-family: $websitebodyfont; line-height: 50px;
        &:focus { outline: none !important; box-shadow: none !important; }
        &:hover { box-shadow: 0px 10px 40px rgba(0, 62, 191, 0.15); }
        &.btn-primary { background: #5351FB; color: $white; border-color: #5351FB;
            &:hover, &:focus, &:active { background: #3d3bf3; border-color: #3d3bf3; }
        }
        &.btn-orange { background: #F03A01; color: $white; border-color: #F03A01;
            &:hover, &:focus, &:active { background: #df3905; border-color: #df3905; }
        }
        &.btn-success { background: #21D85E; color: $white; border-color: #21D85E;
            &:hover, &:focus, &:active { background: #05c043; border-color: #05c043; }
        }
        &.btn-only-text { background: transparent; font-size: 16px; color: #5351FC; font-weight: 400; box-shadow: none; padding: 0; 
            &.text-gray { color: $gray; }
            &.text-blue { color: #5351FC; }
            &:hover, &:focus, &:active { color: $gray; 
                &.text-gray { color: $blue; }
                &.text-blue { color: $gray; }
            }
        }
        &.btn-outline-primary { background: #FFFFFF; border: 1px solid $blue; color: $blue;@include inline-flex; @include align-items(center);@include justify-content(center);
            &:hover, &:focus, &:active { background: $blue; border-color: $blue; color: $white; }
        }
        &.btn-outline-orange { background: transparent; color: #FF6F00; border-color: #FF6F00;@include inline-flex; @include align-items(center);@include justify-content(center);
            &:hover, &:focus, &:active { background: #FF6F00; border-color: #FF6F00;color: $white;
                svg{
                    * {
                        fill: $white;
                    }
                }
            }
        }
        &.btn-outline-yellow { background: transparent; color: #FFB300; border-color: #FFB300;
            &:hover, &:focus, &:active { background: #FFB300; border-color: #FFB300;color: $white; 
                svg{
                    * {
                        fill: $white;
                    }
                }
            }
        }
        &.btn-outline-secondary { background: #FFFFFF; border: 1px solid #C3C6D1; color: $blue; 
            &:hover, &:focus, &:active { background: $lightgray !important; border-color: $lightgray !important; color: $white; }
            &:disabled, &.disabled { color: $lightgray;  
                &:hover, &:focus, &:active { background: #FFFFFF; border: 1px solid #C3C6D1; color: $lightgray; }
            }
        }
        &.btn-outline-danger { background: $white; border-color: #F24A4A; color: #F24A4A; 
            &:hover, &:focus, &:active { background: #F24A4A; border-color: #F24A4A; color: $white; }
        }
        &.btn-outline-gray { background: $white; border-color: #c2c6d1; color: $blue; 
            &:hover, &:focus, &:active,
            &:not(:disabled):not(.disabled).active, 
            &:not(:disabled):not(.disabled):active,
            &:not(:disabled):not(.disabled).active:focus, 
            &:not(:disabled):not(.disabled):active:focus { 
                background: #c2c6d1; border-color: #c2c6d1; color: $white; 
            }
        }
        &.btn-orange-gradient { 
            color: $white;
            height: 40px;
            line-height: 40px;
            min-width: auto !important;
            font-weight: 400;
            font-size: 14px;
            padding-left: 35px;
            padding-right: 35px;
            background: transparent linear-gradient(123deg, #F4A121 0%, #F36F29 55%, #F24D23 99%) 0% 0% no-repeat padding-box; 
            &:hover, &:focus, &:active { @include opacity(0.8); color: $white; }
        }
	&.with-bg-icon {
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            right: 2px;
            bottom: 2px;
            z-index: -1;
            background: url(../../images/magic.png) no-repeat right bottom;
            background-size: 35px;
            width: 35px;
            height: 35px;
        }
    }
        &.btn-md { min-width: 180px; }
        &.btn-w160 { min-width: 160px; }
        &.btn-w175 { min-width: 175px; }
        &.btn-w200 { min-width: 200px; }
        &.btn-w150 { min-width: 150px; }
        &.btn-full { min-width: 100%; }
        &.btn-rounded { @include border-radius(10px); }
    }
    .btn-toggle { padding: 0; position: relative; border: none; height: 40px; width: 80px; @include border-radius(24px); color: #6b7381; background: #4E1CF8; @include box-shadow(inset 0px 0px 15px rgba(0, 0, 0, 0.25)); margin: 0 160px;
        &:focus,
        &:focus.active { outline: none; }
        &:before,
        &:after { width: 195px; font-weight: 600; position: absolute; color: #C2C6D1; transition: color 0.25s; top: 50%; transform: translateY(-50%); }
        &:before { content: 'Essential Licensing'; left: -205px; text-align: right; color: $gray; padding-left: 35px; }
        &:after { content: 'Inclusive License'; right: -205px; text-align: left; }
        &> .handle { position: absolute; top: 6px; left: 6px; width: 28px; height: 28px; @include border-radius(50%); background: radial-gradient(100% 100% at 50% 0%, #FFFFFF 0%, #CFB9FF 100%); @include box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); transition: left 0.25s; }
        &.active { transition: background-color 0.25s; 
            & > .handle { left: 46px; transition: left 0.25s; }
            &:before { color: #C2C6D1;  }
            &:after { color: $gray; }
        }
    }
    .custom-dropdown {
        .dropdown-menu { background: #FFFFFF; @include box-shadow(0px 4px 20px rgba(0, 0, 0, 0.25)); border-radius: 20px; min-width: 170px; border: none; display: block!important; z-index: 4; visibility: hidden; @include opacity(0); @include transition-all (all 0.2s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s); transform: translateY(2em); padding: 10px 0; 
            &::-webkit-scrollbar { width:6px;background-color:#F5F5F5; }
            &::-webkit-scrollbar-thumb { background-color:rgba(0,0,0,0.3); }
            &::-webkit-scrollbar-track { -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1);background-color:transparent; }
            &.show { visibility: visible; opacity: 1; transition-delay: 0s, 0s, 0.3s; transform: translateY(0); }
            .dropdown-item { font-size: 14px; padding: 4px 20px; @include transition(0.3s, ease-in-out);
                a { color: $gray; @include transition(0.3s, ease-in-out); text-decoration: none;
                    &:hover { color: $lightblue; }
                }
                &:hover, &:focus { background: transparent; }            
            }
        }
        @media (max-width:575px){
            .dropdown-menu { min-width: 150px; 
                .dropdown-item { padding: 4px 12px; font-size: 13px; }
            }
        }
    }
    .form-control:focus, .custom-control-input:focus ~ .custom-control-label::before  { outline: none !important; box-shadow: none !important; }
    .form-group { margin-bottom: 30px;
        .form-control { font-family: $websitebodyfont;
            &:focus { outline: none !important; box-shadow: none !important; }
            &::-webkit-input-placeholder { color: $gray; }      
            &:-ms-input-placeholder { color: $gray; }      
            &::placeholder { color: $gray; }
            &.form-control-md { height: 45px; }
        }
        .error-text { display: none; }
        .custom-select { padding: 0 25px 0 0; color: $darkgray; font-size: 16px; @include appearance(none); background: url(../../images/icons/arrow-down-blue.svg) calc(100% - 0px) center no-repeat; background-size: 15px; border: none; border-bottom: 1px solid #595959; @include border-radius(0px);
            &.round-select { background: url(../../images/icons/arrow-down-orange.svg) calc(100% - 15px) center no-repeat; border: 1px solid #595959; @include border-radius(30px); padding: 0 35px 0 15px; }
            &.mw-300 { max-width: 300px; }
            &.mw-240 { max-width: 240px; }
        }
        .custom-checkbox { 
            .custom-control-label { font-size: 14px; color: $gray; font-weight: 400;
                &:hover {cursor: pointer; color: $darkblack !important;}
                a { color: $darkblue; @include transition(0.3s, ease-in-out); text-decoration: underline;
                    &:hover { color: $darkblack; }
                }
                &::before { @include border-radius(0px); border: 1px solid $gray; top: 2px; }
                &::after { top: 2px; }
            }
        }
        .custom-radio {  
            .custom-control-label {             
                &::after,
                &::before { top: 2px; }
                &.label-with-info { color: #454A60 !important; font-weight: 500 !important; font-size: 16px !important; 
                    &::after,
                    &::before { top: 2px; }
                }
            }
            span { color: #454A60; font-size: 14px; margin-top: -5px; }
        }
        label { font-weight: bold; font-size: 16px; color: $black; margin-bottom: 15px; 
            &.with-icon { @include flexbox(); @include align-items(center);
                span { line-height: 18px; cursor: help; @include transition(0.3s, ease-in-out);
                    &:hover { i { color: $black; } }
                }
                i { color: #C2C6D1; font-weight: 400; line-height: 18px; }
            }
        }
        .icon { font-size: 32px; color: $blue; position: absolute; right: 15px; top: 35px; }
        .custom-input { border: none; border-bottom: 1px solid $gray; padding: 0; @include border-radius(0px); color: $darkgray; 
            &.with-r-icon { padding-right: 30px; }
        }
        textarea.custom-input { border: 1px solid $gray; padding: 0; @include border-radius(5px); color: #15181A; padding: 15px; }
        &._form-group { position: relative; padding-top: 15px; 
            &.height-50 { height: 53px }
            .form-control-card {height: 38px; padding-top: 10px;
                img {max-height: 40px;}
            }
            label { font-size: 16px; position: absolute; left: 15px; top: 17px; color: #ACB5BD; pointer-events: none; @include transition(0.3s, ease-in-out); font-weight: 400; margin-bottom: 0; 
                &.font-lg { font-weight: 500; font-size: 16px; left: 0; }
            }
            .form-control { border: none; border-bottom: 1px solid $gray; border-radius: 0px; font-size: 16px;  color: $blackgray; } 
            .form-control:-webkit-autofill,
            .form-control:-webkit-autofill:hover, 
            .form-control:-webkit-autofill:focus, 
            .form-control:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 30px white inset !important;
            + label { font-size: 12px; left: 15px; top: 3px; }
            }
            &.focused {        
                input { border-color: $blue; } 
                label { color: $blue; }
                textarea { border-color: $blue; }
            }
            &.has-data, &.focused, &.has-placeholder { 
                label { font-size: 12px; left: 15px; top: 3px; 
                    &.font-lg { font-weight: 500; font-size: 16px; }
                }
            }
        }
        &.error {  
            .custom-input { border-color: #F03A01 !important; } 
            .error-text { color: #F03A01; font-size: 12px; display: block; position: absolute; font-weight: 500; }
        }
    }
    .input-group {  
        .input-group-text { background: transparent; border-right: none; border: 1px solid #C3C6D1; @include border-radius(36px); padding: 12px 15px 12px 15px; }
        .form-control { height: 45px; border: 1px solid #C3C6D1; border-left: none; @include border-radius(36px); padding-left: 0; color: $gray; }
    }
    .i-icon { background-size: contain !important; display: inline-block;
        &.icon-notification { background: url($icon-notification) no-repeat center center; width: 19px; height: 26px; background-size: contain; }
        &.icon-chat { background: url($icon-chat) no-repeat center center; width: 20px; height: 20px; @include transition(0.3s, ease-in-out); }      
        &.icon-project-overview { background: url($icon-project-overview) no-repeat center center; width: 22px; height: 20px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-user { background: url($icon-user) no-repeat center center; width: 22px; height: 20px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-security { background: url($icon-security) no-repeat center center; width: 22px; height: 20px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-compliance { background: url($icon-compliance) no-repeat center center; width: 22px; height: 20px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-infrastructure { background: url($icon-infrastructure) no-repeat center center; width: 22px; height: 20px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-settings { background: url($icon-settings) no-repeat center center; width: 22px; height: 20px; @include transition(0.3s, ease-in-out); background-size: contain; }    
        &.icon-search { background: url($icon-search) no-repeat center center; width: 17px; height: 17px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-ios-gray { background: url($icon-ios-gray) no-repeat center center; width: 24px; height: 24px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-android-gray { background: url($icon-android-gray) no-repeat center center; width: 24px; height: 24px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-javascript-gray { background: url($icon-javascript-gray) no-repeat center center; width: 22px; height: 24px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-javascript-lightgray { background: url($icon-javascript-lightgray) no-repeat center center; width: 26px; height: 26px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-cart { background: url($icon-cart) no-repeat center center; width: 22px; height: 24px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-credit-card { background: url($icon-credit-card) no-repeat center center; width: 50px; height: 50px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-paypal { background: url($icon-paypal) no-repeat center center; width: 35px; height: 50px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-delete { background: url($icon-delete) no-repeat center center; width: 18px; height: 18px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-cart-check { background: url($icon-cart-check) no-repeat center center; width: 25px; height: 21px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-cart-check-light { background: url($icon-cart-check-light) no-repeat center center; width: 25px; height: 21px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-media-sharing { background: url($icon-media-sharing) no-repeat center center; width: 24px; height: 24px; }
        &.icon-clear-cart { background: url($icon-clear-cart) no-repeat center center; width: 37px; height: 37px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-close { background: url($icon-close) no-repeat center center; width: 12px; height: 12px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-back { background: url($icon-back) no-repeat center center; width: 8px; height: 12px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-included { background: url($icon-included) no-repeat center center; width: 21px; height: 21px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-professional { background: url($icon-professional) no-repeat center center; width: 21px; height: 21px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-back-gray { background: url($icon-back-gray) no-repeat center center; width: 10px; height: 16px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-help { background: url($icon-help) no-repeat center center; width: 12px; height: 12px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-help-light{ background: url($icon-help-light) no-repeat center center; width: 12px; height: 12px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-file{ background: url($icon-file) no-repeat center center; width: 14px; height: 14px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-image { background: url($icon-image) no-repeat center center; width: 14px; height: 14px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-bug-report { background: url($icon-bug-report) no-repeat center center; width: 25px; height: 25px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-technical-support { background: url($icon-technical-support) no-repeat center center; width: 25px; height: 25px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-license-billing { background: url($icon-license-billing) no-repeat center center; width: 25px; height: 25px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-suggest-new-feature { background: url($icon-suggest-new-feature) no-repeat center center; width: 25px; height: 25px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-facebook { background: url($icon-facebook) no-repeat center center; width: 8px; height: 16px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-linkedin { background: url($icon-linkedin) no-repeat center center; width: 14px; height: 14px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-twitter { background: url($icon-twitter) no-repeat center center; width: 14px; height: 12px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.icon-projects { background: url(../../images/icons/new/icon-my-project.svg) no-repeat center center; width: 23px; height: 23px; }
        &.icon-new-bug-report { background: url(../../images/icons/new/icon-bug.svg) no-repeat center center; width: 16px; height: 16px; }
        &.icon-new-license-billing { background: url(../../images/icons/new/icon-license.svg) no-repeat center center; width: 16px; height: 16px; }
        &.icon-new-technical-support { background: url(../../images/icons/new/icon-technical-support.svg) no-repeat center center; width: 16px; height: 16px; }
        &.icon-new-suggest-feature { background: url(../../images/icons/new/icon-suggestion.svg) no-repeat center center; width: 16px; height: 16px; }
        &.icon-angle-down { background: url($fa-angle-down) no-repeat center center; width: 14px; height: 8px; }
        &.icon-lock { background: url(../../images/icons/lock.svg) no-repeat center center; width: 16px; height: 16px; }
        &.icon-pen { background: url(../../images/icons/pen.svg) no-repeat center center; width: 16px; height: 16px; }
        &.icon-google { background: url(../../images/icons/google-icon.svg) no-repeat center center; width: 24px; height: 24px; }
    }
    .far, .fal, .fad { background-size: contain !important; display: inline-block;
        &.fa-times { background: url($fa-times) no-repeat center center; width: 20px; height: 20px; @include transition(0.3s, ease-in-out); }
        &.fa-long-arrow-right { background: url($fa-long-arrow-right) no-repeat center center; width: 17px; height: 9px; @include transition(0.3s, ease-in-out); }
        &.fa-shield-check{ background: url($fa-shield-check) no-repeat center center; min-width: 20px; width: 20px; height: 20px; @include transition(0.3s, ease-in-out); background-size: contain; }
        &.fa-exclamation-triangle{ background: url($fa-exclamation-triangle) no-repeat center center; min-width: 20px; width: 20px; height: 20px; @include transition(0.3s, ease-in-out); background-size: contain; }
    }
    .alert { @include flexbox; @include align-items(center); white-space: normal; word-break: break-word;
        &.custom-alert { margin-bottom: 30px; background: linear-gradient(187.29deg, #EEF2FF -17.29%, #F6F7FB 100%); border: none; @include border-radius(20px); max-width: 50%; padding: 18px 25px;
            span { font-size: 16px; color: $gray; display: block; border-left: 3px solid  $green; padding: 8px 5px 8px 15px;
                strong { color: $darkblack; }
            }
        }
        i { margin-right: 8px; }
        &.alert-success { color: #155724; background-color: #d4edda; border-color: #c3e6cb; }
    }
    .custom-html-dropdown { position: relative;
        &.mw-90 { max-width: 95px; }
        .dropdown-input { padding: 0 25px 0 0; color: #727272; font-size: 16px; @include appearance(none); background: url(../../images/icons/arrow-down-orange.svg) calc(100% - 0px) center no-repeat; background-size: 15px; border: none; border-bottom: 1px solid #595959; @include border-radius(0px); height: 42px; min-width: 100%; text-align: left;        
            &::after{ content: none; }
            &:focus { outline: none; }
            &.round-input { background: url(../../images/icons/arrow-down-orange.svg) calc(100% - 15px) center no-repeat; border: 1px solid #595959; @include border-radius(30px); padding: 0 35px 0 15px; }        
        }
        .dropdown-menu { margin-top: 0; background: #FFFFFF; @include box-shadow(0px 4px 20px rgba(0, 0, 0, 0.25)); @include border-radius(20px); padding: 0; min-width: 100%; border: none; display: block!important; z-index: 4; visibility: hidden; @include opacity(0); @include transition-all (all 0.2s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s); transform: translateY(2em); padding: 5px 0; max-height: 430px; overflow: hidden; overflow-y: auto;
            &::-webkit-scrollbar { width:6px;background-color:#F5F5F5; }
            &::-webkit-scrollbar-thumb { background-color:rgba(0,0,0,0.3); }
            &::-webkit-scrollbar-track { -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1); }
            &.show { visibility: visible; opacity: 1; transition-delay: 0s, 0s, 0.3s; transform: translateY(0) !important; }
            li {
                button { font-size: 14px; border: none; background: transparent; width: 100%; text-align: left; padding: 5px 15px; @include transition(0.3s, ease-in-out ); color: #444444; padding: 4px 15px;
                    &:focus { outline: none; }
                    &:hover, &:focus, &:active, &.active { background: rgba(83, 81, 251, 0.05); }
                }
            }
            .dropdown-item {
                &:hover, &:focus, &:active, &.active { color: #444444; background: rgba(83, 81, 251, 0.05); }
            }
            &.border-dropdown-menu { border: none; top: 48px !important; 
                li {
                    button { color: $black; font-size: 14px; 
                        &.placeholder { font-size:12px; color: #ACB5BD; cursor: default;
                            &:hover, &:focus { color: #ACB5BD; }
                        }
                        &:hover, &:focus, &:active, &.active { background: rgba(83, 81, 251, 0.05); }
                    }
                }
                .dropdown-item { color: #444444; font-size: 14px; padding: 5px 15px;
                    &:hover, &:focus, &:active, &.active { background: rgba(83, 81, 251, 0.05); }
                }
            }
        }
        .dropdown-input ~ .dropdown-menu { top: 100% !important; /* top: 48px !important; */ }
    }
    .with-icon { white-space: nowrap; @include flexbox(); align-items: center; 
        .help { display: inline-block; margin-left: 5px; cursor: help; line-height: 0.7; }
    }
    .choose-plan-btn { 
        .form-check { 
            input[type="radio"] { opacity: 0; position: fixed; width: 0; 
                &:focus + label { border-color: rgba(83, 81, 251, 0.6); }
                &:checked + label { border-color: #5351FB; color: #5351FB; }            
            }
            label { display: inline-block; min-height: 50px; line-height: 50px; min-width: 180px; background: $white; border: 1px solid #C3C6D1; @include box-shadow(0px 10px 30px rgba(19, 23, 31, 0.2)); @include border-radius(2px); @include transition(0.3s, ease-in-out); color: #C2C6D1; font-weight: 500; cursor: pointer; text-align: center;
                span { display: block; }
                &:hover {
                    border-color: #5351FB;
                }
            }
            @media (max-width: 992px) {            
                label { min-width: 150px; }
            }
            @media (max-width: 767px) {            
                label { min-height: 40px; line-height: 40px; min-width: 120px; font-size: 14px; }
            }
        }
    }
    @media (max-width: 992px) { 
        .custom-alert { max-width: 100%; padding: 10px 15px;
            span { font-size: 14px; padding: 5px 5px 5px 10px; }
        }
    }
    @media (max-width: 575px) {
        .form-group .custom-input, .form-group .custom-select { font-size: 14px; }
        .form-group {
            .icon { font-size: 24px; top: 38px; }
            textarea.custom-input { padding: 10px; }
        }
    }
    @media (max-width: 575px) { 
        .custom-alert { max-width: 100%; padding: 8px 15px;
            span { font-size: 13px; padding: 5px 0px 5px 10px; }
        }
        .btn-toggle { height: 30px !important; width: 60px; margin: 0 110px;       
            &:before,
            &:after { width: 115px; font-size: 11px; padding-left: 18px; background-size: 16px!important; }
            &:before { left: -120px; }
            &:after { right: -120px; }
            &> .handle { top: 4px; left: 4px; width: 22px; height: 22px; }
            &.active { 
                & > .handle { left: 34px; }
            }
        }
    }
}
/* common CSS - End */