.app-content{
    .ico { display: inline-block; background-size: contain !important; align-content: center !important;
        &.arrow-down-black { height: 4px; width: 7px;  padding: 7px; background:url($iconpath + 'arrow-down-black.svg') no-repeat center center; }
        &.icon-chat-circle { height: 16px; width: 16px; background:url($iconpath + 'icon-chat-circle.svg') no-repeat center center; }
        &.icon-share { height: 16px; width: 14px; background:url($iconpath + 'share.svg') no-repeat center center;  }
        
        &.icon-download { height: 16px; width: 20px; background:url($iconpath + 'download.svg') no-repeat center center; }
        &.icon-star { height: 16px; width: 14px; background:url($iconpath + 'star-line.svg') no-repeat center center; }
        &.icon-ellipsis-v { height: 16px; width: 16px; background:url($iconpath + 'icon-ellipsis-v.svg') no-repeat center center; }
        &.more-info { height: 13px; width: 13px; background:url($iconpath + 'vertical-dots-menu.svg') no-repeat center center; }
        &.plus-black { height: 24px; width: 24px; background:url($iconpath + 'plus-black.svg') no-repeat center center; }
        &.search { height: 20px; width: 19px; background:url($iconpath + 'search.svg') no-repeat center center; }
        &.icon-search-black { height: 20px; width: 20px; background:url($iconpath + 'search-black.svg') no-repeat center center; }
        &.icon-search-recent { height: 12px; width: 12px; background:url($iconpath + 'search-recent.svg') no-repeat center center; }
        &.icon-close-black { height: 10px; width: 10px; background:url($iconpath + 'close-black.svg') no-repeat center center; }
        &.chat-settings { height: 25px; width: 23px; background:url($iconpath + 'chat-settings.svg') no-repeat center center; }
        // &.icon-settings { height: 20px; width: 16px; background:url($iconpath + 'icon-notification.svg') no-repeat center center; }
        &.fill-dropdown-arrow { height: 10px; width: 12px; background:url($iconpath + 'fill-dropdown-arrow.svg') no-repeat center center; }
        &.icon-add { height: 25px; width: 25px; background:url($iconpath + 'icon-add.svg') no-repeat center center; }
        &.write-pencil { height: 23px; width: 21px; background:url($iconpath + 'write-msg.svg') no-repeat center center; }
        
        &.icon-laughing-emoji { height: 12px; width: 12px; background:url($iconpath + 'laughing-emoji.svg') no-repeat center center; }
        &.icon-hand-emoji { height: 14px; width: 14px; background:url($iconpath + 'hand-emoji.svg') no-repeat center center; }
        &.icon-face-emoji { height: 14px; width: 14px; background:url($iconpath + 'face-emoji.svg') no-repeat center center; }
        &.icon-add-emoji { height: 16px; width: 16px; background:url($iconpath + 'add-emoji.svg') no-repeat center center; }
        &.icon-add-emoji-black { height: 16px; width: 14px; background:url($iconpath + 'add-emoji-black.svg') no-repeat center center; }
        &.icon-thread-chat { height: 16px; width: 14px; background:url($iconpath + 'thread-chat.svg') no-repeat center center; }
       
        &.icon-at-sign { height: 17px; width: 19px; background:url($iconpath + 'at-sign.svg') no-repeat center center; }
        &.icon-plus-circle { height: 18px; width: 24px; background:url($iconpath + 'plus-circle.svg') no-repeat center center; }
        &.icon-plus-circle-white { height: 18px; width: 24px; background:url($iconpath + 'plus-circle-white.svg') no-repeat center center; }
        &.icon-send { height: 24px; width: 24px; background:url($iconpath + 'send.svg') no-repeat center center; }
        &.icon-drive { height: 16px; width: 20px; background:url($iconpath + 'icon-drive-black.svg') no-repeat center center; }
        &.icon-computer { height: 14px; width: 20px; background:url($iconpath + 'icon-computer-black.svg') no-repeat center center; }
        &.icon-fill-close { height: 24px; width: 24px; background:url($iconpath + 'fill-close.png') no-repeat center center; }
        &.icon-close-white { height: 15px; width: 15px; background:url($iconpath + 'close-white.svg') no-repeat center center; }
        &.icon-close-blue { height: 16px; width: 16px; background:url($iconpath + 'close-blue.svg') no-repeat center center; }
        &.icon-arrow-right-big { height: 24px; width: 12px; background:url($iconpath + 'arrow-right-big.svg') no-repeat center center; }
        &.circle-close { height: 25px; width: 25px; background:url($iconpath + 'circle-close.svg') no-repeat center center; }
        &.circle-close-white { height: 25px; width: 25px; background:url($iconpath + 'circle-close-white.svg') no-repeat center center; }
        &.icon-fill-arrow { height: 12px; width: 12px; background:url($iconpath + 'fill-arrow.svg') no-repeat center center; }
        &.icon-video { height: 30px; width: 25px; background:url($iconpath + 'icon-video.svg') no-repeat center center; }
        &.icon-word-file { height: 30px; width: 25px; background:url($iconpath + 'icon-word-file.svg') no-repeat center center; }        
        &.icon-dot { height: 5px; width: 23px; background:url($iconpath + 'dot.svg') no-repeat center center; }
        &.icon-mute { height: 19px; width: 23px; background:url($iconpath + 'mute.svg') no-repeat center center; }
        &.icon-leave { height: 18px; width: 18px; background:url($iconpath + 'leave.svg') no-repeat center center; }
        &.icon-delete { height: 20px; width: 18px; background:url($iconpath + 'delete.svg') no-repeat center center; }
        &.icon-celender { height: 18px; width: 16px; background:url($iconpath + 'icon-celender.svg') no-repeat center center; }
        &.icon-megaphone { height: 12px; width: 12px; background:url($iconpath + 'megaphone.svg') no-repeat center center; }
        &.icon-adjust { height: 44px; width: 44px; background:url($iconpath + 'adjust.svg') no-repeat center center; }
        &.icon-circle { height: 44px; width: 44px; background:url($iconpath + 'circle.svg') no-repeat center center; }
        &.icon-eye { height: 20px; width: 20px; background:url($iconpath + 'eye.svg') no-repeat center center; }
        &.icon-eye-slash { height: 20px; width: 20px; background:url($iconpath + 'eye-slash.svg') no-repeat center center; }
        &.icon-exclamation { height: 20px; width: 20px; background:url($iconpath + 'exclamation.svg') no-repeat center center; }
        &.icon-user { height: 20px; width: 20px; background:url($iconpath + 'user.svg') no-repeat center center; }
        &.icon-lock { height: 20px; width: 20px; background:url($iconpath + 'lock.svg') no-repeat center center; }
        &.icon-sitemap { height: 20px; width: 20px; background:url($iconpath + 'sitemap.svg') no-repeat center center; }
        &.icon-link { height: 20px; width: 20px; background:url($iconpath + 'link.svg') no-repeat center center; }
        &.icon-spinner-third { height: 20px; width: 20px; background:url($iconpath + 'spinner-third.svg') no-repeat center center; }
        &.icon-spinner-third-white { height: 20px; width: 20px; background:url($iconpath + 'spinner-third-white.svg') no-repeat center center; }
        &.icon-long-arrow-right { height: 8px; width: 8px; background:url($iconpath + 'icon-long-arrow-right.svg') no-repeat center center; }
        &.icon-long-arrow-left { height: 30px; width: 24px; background:url($iconpath + 'long-arrow-left.svg') no-repeat center center; }
        &.icon-long-arrow-left-gray { height: 30px; width: 24px; background:url($iconpath + 'long-arrow-left-gray.svg') no-repeat center center; }
        &.icon-circle-arrow-left { height: 34px; width: 34px; background:url($iconpath + 'circle-arrow-left.svg') no-repeat center center; }
        &.icon-circle-arrow-right { height: 34px; width: 34px; background:url($iconpath + 'circle-arrow-right.svg') no-repeat center center; }
        &.icon-angle-right { height: 25px; width: 25px; background:url($iconpath + 'angle-right.svg') no-repeat center center; }
        &.icon-search { height: 18px; width: 18px; background:url($iconpath + 'search.svg') no-repeat center center; }
        &.icon-circle-gray { height: 18px; width: 18px; background:url($iconpath + 'circle-gray.svg') no-repeat center center; }
        &.icon-check-circle { height: 18px; width: 18px; background:url($iconpath + 'check-circle.svg') no-repeat center center; }
        &.icon-check-circle-white { height: 18px; width: 18px; background:url($iconpath + 'check-circle-white.svg') no-repeat center center; }
        &.icon-check { height: 7px; width: 9px; background:url($iconpath + 'icon-check.svg') no-repeat center center; }
        &.icon-ellipsis-v { height: 25px; width: 25px; background:url($iconpath + 'ellipsis-v.svg') no-repeat center center; }
        &.icon-cancel { height: 20px; width: 20px; background:url($iconpath + 'icon-cancel.svg') no-repeat center center; }
        &.icon-done { height: 20px; width: 20px; background:url($iconpath + 'icon-done.svg') no-repeat center center; }
        &.icon-angle-down { height: 20px; width: 20px; background:url($iconpath + 'arrow-dropdown.svg') no-repeat center center; }
        &.icon-map-marker-alt { height: 25px; width: 25px; background:url($iconpath + 'map-marker-alt-solid.svg') no-repeat center center; }    
        &.icon-mute-notificaion { height: 16px; width: 20px; background: url($iconpath + 'mute-notification.svg') no-repeat center center; } 
        &.comments { height: 25px; width: 29px; background: url($iconpath + 'comments.svg') no-repeat center center; }  
        &.icon-up-arrow { height: 13px; width: 12px; background: url($iconpath + 'icon-up-arrow.svg') no-repeat center center; }  
        &.icon-warning { height: 20px; width: 20px; background: url($iconpath + 'icon-warning.svg') no-repeat center center; } 
        &.icon-fill-add { height: 14px; width: 14px; background: url($iconpath + 'icon-fill-add.svg') no-repeat center center; } 
        &.icon-dot-white { height: 14px; width: 14px; background: url($iconpath + 'dot-white.svg') no-repeat center center; } 
         
        &.icon-lock-white { height: 12px; width: 11px; background: url($iconpath + 'icon-lock-white.svg') no-repeat center center; } 
        
        
        &.icon-upload { height: 17px; width: 17px; background: url($iconpath + 'icon-upload.svg') no-repeat center center; } 
       
        &.icon-fill-close-gray { height: 16px; width: 16px; background: url($iconpath + 'fill-close.svg') no-repeat center center; } 


        // New screen icon
        &.icon-settings { height: 24px; width: 24px; background: url($iconpath + 'settings.svg') no-repeat center center; }
        &.icon-settings-black { height: 16px; width: 16px; background: url($iconpath + 'settings-black.svg') no-repeat center center; }
        &.icon-profile { height: 16px; width: 16px; background: url($iconpath + 'icon-profile.svg') no-repeat center center; }
        &.icon-signout { height: 16px; width: 16px; background: url($iconpath + 'icon-signout.svg') no-repeat center center; }
        &.icon-color-palette { height: 16px; width: 16px; background: url($iconpath + 'color-palette.svg') no-repeat center center; }
        &.icon-help { height: 16px; width: 16px; background: url($iconpath + 'help.svg') no-repeat center center; }
        &.icon-bell { height: 16px; width: 16px; background: url($iconpath + 'icon-bell.svg') no-repeat center center; }
        &.icon-add-black { height: 16px; width: 16px; background: url($iconpath + 'add-black.svg') no-repeat center center; }
        &.icon-add-white { height: 16px; width: 16px; background: url($iconpath + 'add-white.svg') no-repeat center center; }
        &.threads { height: 24px; width: 24px; background:url($iconpath + 'thread.svg') no-repeat center center; }        
        &.files { height: 24px; width: 24px; background:url($iconpath + 'icon-files.svg') no-repeat center center; }
        &.mentions { height: 24px; width: 24px; background:url($iconpath + 'mention.svg') no-repeat center center; }
        &.saved { height: 24px; width: 24px; background:url($iconpath + 'saved.svg') no-repeat center center; }
        &.icon-add { height: 16px; width: 16px; background:url($iconpath + 'icon-add-blue.svg') no-repeat center center; }
        &.icon-create { height: 18px; width: 18px; background: url($iconpath + 'icon-create.svg') no-repeat center center; }
        &.icon-hashtag { height: 16px; width: 16px; background:url($iconpath + 'icon-hashtag.svg') no-repeat center center; }
        &.icon-hashtag-blue { height: 12px; width: 12px; background:url($iconpath + 'icon-hashtag-blue.svg') no-repeat center center; }
        &.icon-search { height: 16px; width: 16px; background: url($iconpath + 'icon-search.svg') no-repeat center center; } 
        &.icon-invite-user { height: 12px; width: 12px; background: url($iconpath + 'icon-user-follow.svg') no-repeat center center; } 
        &.icon-close-gray { height: 16px; width: 16px; background:url($iconpath + 'close-black.svg') no-repeat center center; }
        &.more-info-white { height: 13px; width: 13px; background:url($iconpath + 'vertical-dots-menu-white.svg') no-repeat center center; }
        &.icon-warning { height: 32px; width: 32px; background:url($iconpath + 'icon-warning-square.svg') no-repeat center center; }
        &.icon-send-fill { height: 20px; width: 20px; background: url($iconpath + 'fill-send.svg') no-repeat center center; } 
        &.icon-send-fill-blue { height: 20px; width: 20px; background: url($iconpath + 'fill-send-blue.svg') no-repeat center center; } 
        &.icon-attach-pin { height: 16px; width: 16px; background: url($iconpath + 'attch-pin.svg') no-repeat center center; } 
        &.bold { height: 16px; width: 11px; background:url($iconpath + 'icon-bold.svg') no-repeat center center; }
        &.italic { height: 16px; width: 9px; background:url($iconpath + 'icon-italic.svg') no-repeat center center; }
        &.icon-text-underline { height: 16px; width: 11px; background:url($iconpath + 'text-center-underline.svg') no-repeat center center;  }
        &.icon-list-menu { height: 16px; width: 15px; background:url($iconpath + 'list-menu.svg') no-repeat center center; }
        &.icon-number-list { height: 16px; width: 15px; background:url($iconpath + 'number-list.svg') no-repeat center center; }
        &.icon-type { height: 16px; width: 16px; background:url($iconpath + 'type.svg') no-repeat center center; }
        &.icon-emoji { height: 16px; width: 16px; background:url($iconpath + 'emoji.svg') no-repeat center center; }
        &.icon-upload-blue { height: 14px; width: 14px; background: url($iconpath + 'icon-upload-blue.svg') no-repeat center center; } 
        &.icon-upload-white { height: 13px; width: 16px; background: url($iconpath + 'icon-upload-white.svg') no-repeat center center; } 
        &.icon-pin { height: 20px; width: 20px; background: url($iconpath + 'pin.svg') no-repeat center center; } 
        &.icon-chat-pin { height: 15px; width: 15px; background: url($iconpath + 'pin.svg') no-repeat center center; } 
        &.icon-chat-saved { height: 15px; width: 15px; background: url($iconpath + 'star-fill.svg') no-repeat center center; } 
        &.icon-notification-settings { height: 18px; width: 20px; background: url($iconpath + 'icon-notification-settings.svg') no-repeat center center; } 
        &.icon-pinned-messages { height: 18px; width: 22px; background: url($iconpath + 'pinned-messages.svg') no-repeat center center; } 
        &.icon-info { height: 18px; width: 20px; background: url($iconpath + 'icon-info.svg') no-repeat center center; } 
        &.icon-manage-user { height: 16px; width: 16px; background: url($iconpath + 'manage-members-lightgray.svg') no-repeat center center; } 
        &.icon-fill-user { height: 10px; width: 8px; background: url($iconpath + 'fill-user.svg') no-repeat center center; }
        &.icon-edit-user { height: 14px; width: 14px; background: url($iconpath + 'edit-user-blue.svg') no-repeat center center; }
        &.icon-file { height: 20px; width: 18px; background: url($iconpath + 'icon-file-gray.svg') no-repeat center center; }
        &.icon-audio { height: 20px; width: 20px; background: url($iconpath + 'icon-audio.svg') no-repeat center center; }
        &.icon-volume { height: 24px; width: 20px; background: url($iconpath + 'volume-down.svg') no-repeat center center; }
        &.icon-play { height: 16px; width: 16px; background: url($iconpath + 'play-filled.svg') no-repeat center center; }
        &.icon-pdf { height: 24px; width: 19px; background: url($iconpath + 'document-pdf.svg') no-repeat center center; }
        &.icon-doc { height: 24px; width: 19px; background: url($iconpath + 'document-word.svg') no-repeat center center; }
        &.icon-file { height: 24px; width: 19px; background: url($iconpath + 'file.svg') no-repeat center center; }
        
        
        
        &.icon-setting-profile { height: 18px; width: 18px; background: url($iconpath + 'settings-user.svg') no-repeat center center; } 
        &.icon-setting-workspace { height: 18px; width: 18px; background: url($iconpath + 'settings-portfolio.svg') no-repeat center center; } 
        &.icon-setting-member { height: 18px; width: 18px; background: url($iconpath + 'settings-manage-members.svg') no-repeat center center; } 
        &.icon-setting-member-blue { height: 18px; width: 18px; background: url($iconpath + 'settings-manage-members-blue.svg') no-repeat center center; } 
        &.icon-setting-invitation { height: 18px; width: 18px; background: url($iconpath + 'settings-invitations.svg') no-repeat center center; } 
        &.icon-setting-channel-list { height: 18px; width: 18px; background: url($iconpath + 'channel-list.svg') no-repeat center center; } 
        &.icon-setting-invitation-white { height: 18px; width: 18px; background: url($iconpath + 'settings-invitations-light.svg') no-repeat center center; } 
        &.icon-setting-office { height: 18px; width: 18px; background: url($iconpath + 'settings-3d-office.svg') no-repeat center center; } 
        &.icon-setting-billing { height: 18px; width: 18px; background: url($iconpath + 'settings-billings.svg') no-repeat center center; } 
        &.icon-setting-menu { height: 18px; width: 18px; background: url($iconpath + 'settings-icon.svg') no-repeat center center; } 
        &.icon-setting-signout { height: 18px; width: 18px; background: url($iconpath + 'settings-signout.svg') no-repeat center center; } 
        &.icon-setting-signout-white { height: 18px; width: 18px; background: url($iconpath + 'settings-signout-white.svg') no-repeat center center; } 
        &.icon-setting-save { height: 18px; width: 18px; background: url($iconpath + 'settings-save.svg') no-repeat center center; } 
        &.icon-setting-save-white { height: 18px; width: 18px; background: url($iconpath + 'settings-save-white.svg') no-repeat center center; } 
        &.icon-setting-delete { height: 18px; width: 18px; background: url($iconpath + 'settings-trash.svg') no-repeat center center; } 
        &.icon-settings-trash-white { height: 18px; width: 18px; background: url($iconpath + 'settings-trash-white.svg') no-repeat center center; }
        &.icon-setting-upgrade { height: 18px; width: 18px; background: url($iconpath + 'settings-upgrade.svg') no-repeat center center; } 
        &.icon-setting-downgrade-white { height: 18px; width: 18px; background: url($iconpath + 'settings-upgrade-white.svg') no-repeat center center; @include transform(translateY(-50%) rotate(180deg) !important); } 
        &.icon-setting-chat-launch { height: 18px; width: 18px; background: url($iconpath + 'settings-chat-launch.svg') no-repeat center center; } 
        &.icon-setting-add { height: 18px; width: 18px; background: url($iconpath + 'settings-add.svg') no-repeat center center; } 
        &.icon-setting-add-blue { height: 18px; width: 18px; background: url($iconpath + 'settings-add-blue.svg') no-repeat center center; } 
        &.icon-settings-view-password { height: 14px; width: 14px; background: url($iconpath + 'settings-view-password.svg') no-repeat center center; } 
        &.icon-settings-back { height: 24px; width: 24px; background: url($iconpath + 'settings-back.svg') no-repeat center center; } 
        &.icon-settings-resend { height: 24px; width: 24px; background: url($iconpath + 'settings-reset.svg') no-repeat center center; } 
        &.icon-settings-arrow-right { height: 24px; width: 24px; background: url($iconpath + 'settings-arrow-left.svg') no-repeat center center; @include transform(translateY(-50%) rotate(180deg) !important); } 
        &.icon-settings-arrow-left { height: 24px; width: 24px; background: url($iconpath + 'settings-arrow-left.svg') no-repeat center center; } 
        &.icon-setting-cube { height: 15px; width: 15px; background: url($iconpath + 'setting-cube-white.svg') no-repeat center center; } 
        &.icon-setting-user { height: 15px; width: 15px; background: url($iconpath + 'settings-user-light.svg') no-repeat center center; } 
        &.icon-setting-csv { height: 24px; width: 24px; background: url($iconpath + 'icon-csv.svg') no-repeat center center; } 
        &.icon-setting-visa { height: 16px; width: 24px; background: url($iconpath + 'icon-visa.png') no-repeat center center; } 
        &.icon-setting-database { height: 16px; width: 13px; background: url($iconpath + 'settigs-database.svg') no-repeat center center; } 
        &.icon-setting-sorting { height: 16px; width: 16px; background: url($iconpath + 'settings-sorting.svg') no-repeat center center; } 
        &.icon-setting-archive { height: 16px; width: 16px; background: url($iconpath + 'archive.svg') no-repeat center center; }
        &.icon-setting-archive-dark { height: 16px; width: 16px; background: url($iconpath + 'archive-dark.svg') no-repeat center center; }
        &.icon-setting-unarchive { height: 16px; width: 16px; background: url($iconpath + 'unarchive.svg') no-repeat center center; }
        &.icon-apple { height: 25px; width: 20px; background: url($iconpath + 'apple.svg') no-repeat center center; }
        &.icon-google { height: 25px; width: 25px; background: url($iconpath + 'google-icon.svg') no-repeat center center; }
        &.icon-lock-white { height: 20px; width: 20px; background: url($iconpath + 'lock-white.svg') no-repeat center center; }
        &.icon-view { height: 12px; width: 16px; background: url($iconpath + 'view.svg') no-repeat center center; }
        &.icon-list-boxes { height: 12px; width: 16px; background: url($iconpath + 'list-boxes.svg') no-repeat center center; }
        &.icon-volume-mute { height: 16px; width: 16px; background: url($iconpath + 'volume-mute.svg') no-repeat center center; }
        &.icon-magic-wand { height: 16px; width: 16px; background: url($iconpath + 'magic-wand.svg') no-repeat center center; }
        &.icon-key-svgrepo { height: 16px; width: 16px; background: url($iconpath + 'key-svgrepo.svg') no-repeat center center; }
        &.icon-disabled-circle { height: 16px; width: 16px; background: url($iconpath + 'disabled-circle.svg') no-repeat center center; }
        &.icon-disabled-circle-red { height: 16px; width: 16px; background: url($iconpath + 'disabled-circle-red.svg') no-repeat center center; }
    }
}


.app-content.light-theme {
    .ico { display: inline-block; background-size: contain !important; align-content: center !important; 
        &.icon-pin { background:url($iconpath + 'pin-black.svg') no-repeat center center; }
        &.icon-add-emoji { background:url($iconpath + 'add-emoji-black.svg') no-repeat center center; }
        &.threads { background:url($iconpath + 'thread-black.svg') no-repeat center center; }
        &.icon-share { background:url($iconpath + 'share-black.svg') no-repeat center center; }
        &.icon-star { background:url($iconpath + 'star-line-black.svg') no-repeat center center; }
        &.icon-ellipsis-v { background:url($iconpath + 'ellipsis-v-black.svg') no-repeat center center; }
        &.icon-type { background:url($iconpath + 'type-black.svg') no-repeat center center; }
        &.icon-emoji { background:url($iconpath + 'emoji-black.svg') no-repeat center center; }
        &.icon-attach-pin { background: url($iconpath + 'attch-pin-black.svg') no-repeat center center; } 
        &.bold { background:url($iconpath + 'icon-bold-black.svg') no-repeat center center; }
        &.italic { background:url($iconpath + 'icon-italic-black.svg') no-repeat center center; }
        &.icon-text-underline { background:url($iconpath + 'text-center-underline-black.svg') no-repeat center center;  }
        &.icon-list-menu { background:url($iconpath + 'list-menu-black.svg') no-repeat center center; }
        &.icon-number-list { background:url($iconpath + 'number-list-black.svg') no-repeat center center; }
        &.icon-at-sign { background:url($iconpath + 'at-sign-black.svg') no-repeat center center; }
        &.icon-close-gray { background:url($iconpath + 'close-dark-black.svg') no-repeat center center; }
        &.icon-hashtag { background:url($iconpath + 'icon-hashtag-black.svg') no-repeat center center; }
        &.icon-download { background:url($iconpath + 'download-black.svg') no-repeat center center; }
        &.icon-circle-arrow-left { background:url($iconpath + 'circle-arrow-left-white.svg') no-repeat center center; }
        &.icon-circle-arrow-right { background:url($iconpath + 'circle-arrow-right-white.svg') no-repeat center center; }
        &.icon-profile { background: url($iconpath + 'icon-profile-black.svg') no-repeat center center; }
        &.icon-color-palette { background: url($iconpath + 'color-palette-black.svg') no-repeat center center; }
        &.icon-help { background: url($iconpath + 'help-black.svg') no-repeat center center; }
        &.icon-bell { background: url($iconpath + 'icon-bell-black.svg') no-repeat center center; }
        &.icon-settings-black { background: url($iconpath + 'settings-dark.svg') no-repeat center center; }
        &.icon-edit-user { background: url($iconpath + 'edit-user-darkblue.svg') no-repeat center center; }

        &.icon-setting-profile { height: 18px; width: 18px; background: url($iconpath + 'settings-user-blue.svg') no-repeat center center; } 
        &.icon-setting-workspace { height: 18px; width: 18px; background: url($iconpath + 'settings-portfolio-blue.svg') no-repeat center center; } 
        &.icon-setting-member { height: 18px; width: 18px; background: url($iconpath + 'settings-manage-members-blue.svg') no-repeat center center; } 
        &.icon-setting-member-blue { height: 18px; width: 18px; background: url($iconpath + 'settings-manage-members-darkblue.svg') no-repeat center center; } 
        &.icon-setting-invitation { height: 18px; width: 18px; background: url($iconpath + 'settings-invitations-blue.svg') no-repeat center center; } 
        &.icon-setting-channel-list { height: 18px; width: 18px; background: url($iconpath + 'channel-list-blue.svg') no-repeat center center; } 
        &.icon-setting-office { height: 18px; width: 18px; background: url($iconpath + 'settings-3d-office-blue.svg') no-repeat center center; } 
        &.icon-setting-billing { height: 18px; width: 18px; background: url($iconpath + 'settings-billings-blue.svg') no-repeat center center; } 
        &.icon-setting-menu { height: 18px; width: 18px; background: url($iconpath + 'settings-icon-blue.svg') no-repeat center center; } 
        &.icon-setting-sorting { height: 16px; width: 16px; background: url($iconpath + 'settings-sorting-black.svg') no-repeat center center; } 
        &.icon-setting-archive { height: 16px; width: 16px; background: url($iconpath + 'archive-blue.svg') no-repeat center center; } 
        &.icon-setting-unarchive { height: 16px; width: 16px; background: url($iconpath + 'unarchive-blue.svg') no-repeat center center; }
    }
}