@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?c0ogbg");
    src: url("../fonts/icomoon.eot?c0ogbg#iefix") format("embedded-opentype"),
        url("../fonts/icomoon.ttf?c0ogbg") format("truetype"), url("../fonts/icomoon.woff?c0ogbg") format("woff"),
        url("../fonts/icomoon.svg?c0ogbg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.app-content {
    [class^="ico"],
    [class*=" ico"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: "icomoon" !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .ico {
        display: inline-block; background-size: contain !important; align-content: center !important;
        &.arrow-down-black{
            &:before {
                content: "\e90b";
            }
        }
        &.icon-circle-arrow-left{height:34px;width:34px;background:url($iconpath + "circle-arrow-left.svg") no-repeat center center}
        &.icon-circle-arrow-right{height:34px;width:34px;background:url($iconpath + "circle-arrow-right.svg") no-repeat center center}
        &.comments{height:25px;width:29px;background:url($iconpath + "comments.svg") no-repeat center center}
        &.icon-notification-settings {height: 18px;width: 20px;background: url($iconpath + "icon-notification-settings.svg") no-repeat center center; }
        &.icon-pinned-messages {height: 18px;width: 22px;background: url($iconpath + "pinned-messages.svg") no-repeat center center;}
        &.icon-audio {height: 20px;width: 20px;background: url($iconpath + "icon-audio.svg") no-repeat center center;}
        &.icon-google { height: 25px; width: 25px; background: url($iconpath + "google-icon.svg") no-repeat center center; }
        &.icon-setting-visa { height: 16px; width: 24px; background: url($iconpath + "icon-visa.png") no-repeat center center; }
        &.icon-map-marker-alt{height:25px;width:25px;background:url($iconpath + "map-marker-alt-solid.svg") no-repeat center center}
        &.icon-laughing-emoji{height:12px;width:12px;background:url($iconpath + "laughing-emoji.svg") no-repeat center center}
        &.icon-hand-emoji{height:14px;width:14px;background:url($iconpath + "hand-emoji.svg") no-repeat center center}
        &.icon-face-emoji{height:14px;width:14px;background:url($iconpath + "face-emoji.svg") no-repeat center center}
        &.icon-add-emoji-black{
            &:before {
                content: "\ea4c";
                color: #4d5267;
                font-size: 14px;
            }
        }
        &.icon-fill-arrow{
            &:before {
                content: "\e958";
                font-size: 12px;
            }
        }
        &.icon-settings-resend-white{
            &:before {
                content: "\eade";
                color: #fff;
            }
        }
        &.icon-mute{
            &:before {
                content: "\e9d5";
                color: #abaebb;
            }
        }
        &.icon-leave{
            &:before {
                content: "\e9bd";
                color: #abaebb;
            }
        }
        &.icon-eye{
            &:before {
                content: "\ea5d";
                color: #556ee6;
                font-size: 20px;
            }
        }
        &.icon-eye-slash{
            &:before {
                content: "\ea5e";
                color: #556ee6;
                font-size: 20px;
            }
        }
        &.icon-exclamation{
            &:before {
                content: "\ea5c";
                color: #e6555e;
                font-size: 20px;
            }
        }
        &.icon-user{
            &:before {
                content: "\ea90";
                color: #abaebb;
            }
        }
        &.icon-lock{
            &:before {
                content: "\ea94";
                color: #adb3cc;
                font-size: 20px;
            }
        }
        &.icon-sitemap{
            &:before {
                content: "\ea25";
                color: #adb3cc;
                font-size: 20px;
            }
        }
        &.icon-link{
            &:before {
                content: "\ea93";
                color: #adb3cc;
              }
        }

        &.icon-spinner-third{
            &:before {
                content: "\eaa4";
                color: #556ee6;
                font-size: 20px;
            }
        }
        &.icon-spinner-third-white{
            &:before {
                content: "\eaa4";
                color: #ffffff;
                font-size: 20px;
            }
        }
        &.icon-long-arrow-right{
            &:before {
                content: "\ea82";
                color: #acacae;
                font-size: 10px;
            }
        }
        &.icon-long-arrow-left{
            &:before {
                content: "\ea95";
            }
        }
        &.icon-long-arrow-left-gray{
            &:before {
                content: "\ea96";
                color: #a0a0a0;
                font-size: 24px;
            }
        }
        
        &.icon-angle-right{
            &:before {
                content: "\e906";
                color: #556ee6;
            }
        }
        &.icon-circle-gray{
            &:before {
                content: "\e924";
                color: #e5e5e5;
              }
        }

        &.icon-check{
            &:before {
                content: "\e987";
            }
        }
        
        &.icon-cancel{
            &:before {
                content: "\ea7c";
                color: #f03d3e;
                font-size: 20px;
            }
        }
        &.icon-done{
            &:before {
                content: "\e98e";
                font-size: 20px;
            }
        }
        &.icon-angle-down{
            &:before {
                content: "\ea50";
                font-size: 20px;
            }
        }
        
        &.icon-mute-notificaion{
            &:before {
                content: "\e9d6";
                color: #adb3cc;
                font-size: 16px;
            }
        }
        
        &.icon-up-arrow{
            &:before {
                content: "\ea88";
                color: #fff;
                font-size: 12px;
            }
        }
        &.icon-warning{
            &:before {
                content: "\e9b4";
                color: #ed2727;
                font-size: 20px;
            }
        }
        &.icon-fill-add{
            &:before {
                content: "\e998";
                color: #8c91f9;
                font-size: 14px;
            }
        }
        &.icon-lock-white{
            &:before {
                content: "\e9a0";
                color: #fff;
                font-size: 12px;
            }
        }
        &.icon-upload{
            &:before {
                content: "\e9af";
                font-size: 16px;
            }
        }
        &.icon-fill-close-gray{
            &:before {
                content: "\e959";
                color: #abaebb;
                font-size: 16px;
            }
        }
        
        &.icon-hashtag-blue {
            &:before {
                content: "\e99b";
                font-size: 14px;
            }
        }
        &.icon-invite-user{
            &:before {
                content: "\e9b2";
                color: #fff;
                font-size: 14px;
            }
        }
        &.more-info-white{
            &:before {
                content: "\ea41";
                color: #fff;
            }
        }
        &.icon-warning{
            &:before {
                content: "\e9b5";
                color: #f85353;
                font-size: 28px;
            }
        }
        
        &.icon-setting-office {
            &:before {
                content: "\e9f3";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-setting-billing {
            &:before {
                content: "\e9fb";
                color: #abaebb;
                font-size: 18px;
            }
        }
        &.icon-setting-archive { 
            &:before {
                content: "\ea49";
                color: #ffffff;
                font-size: 14px;
            }
         }
        &.icon-setting-archive-dark { 
            &:before {
                content: "\ea49";
                color: #8B8E90;
                font-size: 14px;
            }
         }
        &.icon-upload-white { 
            &::before {
                content: "\ea48";
                color: #ffffff;
                font-size: 14px;
            }
        }
        &.icon-plus-circle-white { 
            &:before {
                content: "\ea9c";
                color: #fff;
                font-size: 18px;
            }    
        }
        &.icon-chat-circle{
            &:before {
                content: "\e986";
                color: #454a60;
                font-size: 16px;
            }
        }
        &.circle-close{
            &:before {
                content: "\e922";
                color: #adb3cc;
                font-size: 18px;
            }
        }
        &.circle-close-white{
            &:before {
                content: "\e922";
                color: #ffffff;
                font-size: 18px;
            }
        }
        &.icon-video{
            &:before {
                content: "\e9b3";
                color: #33b6ff;
                font-size: 24px;
            }
        }
        &.icon-word-file{
            &:before {
                content: "\e9b6";
                color: #1160d7;
                font-size: 24px;
            }
        }
        &.icon-share {
            &:before {
                content: "\ea23";
                color: #7a7f93;
                font-size: 14px;
            }
        }
        &.icon-download {
            &:before {
                content: "\e934";
                color: #7a7f93;
                font-size: 14px;
            }
        }
        &.icon-star {
            &:before {
                content: "\ea2e";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-ellipsis-v {
            &:before {
                content: "\e93b";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.more-info {
            &:before {
                content: "\ea40";
                color: #454a60;
                font-size: 8px;
            }
        }
        &.plus-black {
            &:before {
                content: "\e9e3";
                font-size: 16px;
            }
        }
        &.search {
            &:before {
                content: "\e9e9";
                font-size: 16px;
            }
        }
        &.icon-search-black {
            &:before {
                content: "\e9e9";
                font-size: 16px;
                color: #000000;
            }
        }
        &.icon-search-recent {
            &:before {
                content: "\e9e9";
                font-size: 16px;
                color: #abaebb;
            }
        }
        &.icon-close-black {
            &:before {
                content: "\e925";
                color: #000000;
            }
        }
        &.chat-settings {
            &:before {
                content: "\e916";
                color: #adb3cc;
                font-size: 16px;
            }
        }
        &.fill-dropdown-arrow {
            &:before {
                content: "\e95b";
                color: #fff;
                font-size: 12px;
            }
        }
        &.write-pencil {
            &:before {
                content: "\ea47";
                font-size: 16px;
            }
        }
        
        &.icon-add-emoji {
            &:before {
                content: "\e902";
                color: #abaebb;
            }
        }
        &.icon-thread-chat {
            &:before {
                content: "\ea35";
                color: #454a60;
                font-size: 16px;
            }
        }
        &.icon-at-sign {
            &:before {
                content: "\e90f";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-plus-circle {
            &::before {
                content: "\e9e4";
            }
        }
        
        &.icon-send {
            &:before {
                content: "\e9ed";
                font-size: 16px;
            }
        }
        &.icon-drive {
            &:before {
                content: "\e98f";
                font-size: 16px;
                color: #454a60;
            }
        }
        &.icon-computer {
            &:before {
                content: "\e98a";
                color: #454a60;
                font-size: 16px;
            }
        }
        &.icon-fill-close {
            &:before {
                content: "\e959";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-close-white {
            &:before {
                content: "\e925";
                color: #ffffff;
                font-size: 12px;
            }
        }
        &.icon-close-blue {
            &:before {
                content: "\e926";
                color: #556ee6;
                font-size: 16px;
            }
        }
        &.icon-arrow-right-big {
            &:before {
                content: "\e90e";
            }
        }
        &.icon-dot {
            width: 13px;
            height: 13px;
            @include flexbox();
            @include align-items(center);
            &:before {
                content: "\e933";
                color: #fff;
                font-size: 3px;
            }
        }
        
        &.icon-delete {
            &:before {
                content: "\e92d";
                color: #f85353;
            }
        }
        &.icon-celender {
            &:before {
                content: "\e985";
                color: #abaebb;
            }
        }
        &.icon-megaphone {
            &:before {
                content: "\e9d0";
                color: #abaebb;
                font-size: 12px;
            }
        }
        &.icon-adjust {
            &:before {
                content: "\e905";
                color: #eebb56;
                font-size: 44px;
            }
        }
        &.icon-circle {
            &:before {
                content: "\e919";
                color: #53d340;
                font-size: 44px;
            }
        }
        
        &.icon-check-circle {
            &:before {
                content: "\e917";
                color: #556ee6;
                font-size: 16px;
            }
        }
        &.icon-check-circle-white {
            &:before {
                content: "\e917";
                color: #ffffff;
                font-size: 16px;
            }
        }
        &.icon-dot-white {
            &:before {
                content: "\e933";
                color: #fff;
                font-size: 3px;
            }
        }
        // New screen icon
        &.icon-settings {
            &:before {
                content: "\e9f2";
                font-size: 24px;
            }
        }
        &.icon-settings-user-white {
            &:before {
                content: "\ea20";
                font-size: 16px;
            }
        }
        &.icon-settings-black {
            &:before {
                content: "\e9fe";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-profile {
            &:before {
                content: "\e9aa";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-signout {
            &:before {
                content: "\e9ad";
                color: #f85353;
                font-size: 16px;
            }
        }
        &.icon-color-palette {
            &:before {
                content: "\e929";
                font-size: 16px;
            }
        }
        &.icon-help {
            &:before {
                content: "\e968";
                font-size: 16px;
            }
        }
        &.icon-bell {
            &:before {
                content: "\e980";
                font-size: 16px;
            }
        }
        &.icon-add-black {
            &:before {
                content: "\e901";
                color: #4d5267;
                font-size: 16px;
            }
        }
        &.icon-add-white {
            content: "\e901";
            color: #ffffff;
            font-size: 16px;
        }
        &.threads {
            &:before {
                content: "\ea32";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-files {
            &:before {
                content: "\e995";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.mentions {
            &:before {
                content: "\e9d2";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.saved {
            &:before {
                content: "\e9e6";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-add {
            &:before {
                content: "\e901";
                color: #8c91f9;
                font-size: 16px;
            }
        }
        &.icon-create {
            &:before {
                content: "\e98c";
                color: #8c91f9;
                font-size: 16px;
            }
        }
        &.icon-hashtag {
            &:before {
                content: "\e999";
            }
        }
        &.icon-search {
            &:before {
                content: "\e9ac";
                color: #adb3cc;
            }
        }
        &.icon-close-gray {
            &:before {
                content: "\e925";
                color: #7a7f93;
            }
        }
        
        &.icon-send-fill {
            &:before {
                content: "\e95c";
                color: #4d5267;
            }
        }
        &.icon-send-fill-blue {
            &:before {
                content: "\e95c";
                color: #5056ca;
            }
        }
        &.icon-attach-pin {
            &:before {
                content: "\e911";
                color: #70758b;
            }
        }
        &.bold {
            &:before {
                content: "\e982";
                color: #adb3cc;
                font-size: 14px;
            }
        }
        &.italic {
            &:before {
                content: "\e99e";
                color: #adb3cc;
                font-size: 14px;
            }
        }
        &.icon-text-underline {
            &:before {
                content: "\ea30";
                color: #adb3cc;
                font-size: 14px;
            }
        }
        &.icon-list-menu {
            &:before {
                content: "\e9c3";
                color: #adb3cc;
                font-size: 14px;
            }
        }
        &.icon-number-list {
            &:before {
                content: "\e9d7";
                color: #adb3cc;
                font-size: 14px;
            }
        }
        &.icon-type {
            &:before {
                content: "\ea37";
                color: #70758b;
            }
        }
        &.icon-emoji {
            &:before {
                content: "\e93d";
                color: #70758b;
            }
        }
        &.icon-upload-blue {
            &::before {
                content: "\ea48";
                color: #5056ca;
                font-size: 14px;
            }
        }
        
        &.icon-download-csv {
            &:before {
                content: "\e936";
                color: #5056ca;
            }
        }
        &.icon-pin-filled {
            &:before {
                content: "\eae0";
                color: #abaebb;
            }
        }
        &.icon-pin{
            &:before {
                content: "\eadf";
                color: #abaebb;
            }
        }
        &.icon-chat-pin {
            &:before {
                content: "\e9d9";
                color: #adb3cc;
            }
        }
        &.icon-chat-saved {
            &:before {
                content: "\ea2b";
                color: #abaebb;
            }
        }
        
        &.icon-info {
            &:before {
                content: "\e99d";
                color: #adb3cc;
                font-size: 18px;
            }
        }
        &.icon-manage-user {
            &:before {
                content: "\e9cf";
                color: #adb3cc;
            }
        }
        &.icon-fill-user {
            &:before {
                content: "\e95f";
                color: #8c91f9;
                font-size: 11px;
            }
        }
        &.icon-edit-user {
            &:before {
                content: "\e939";
                color: #8c91f9;
                font-size: 14px;
            }
        }
        &.icon-file {
            &:before {
                content: "\e994";
                color: #e8e8e9;
            }
        }
        
        &.icon-volume {
            &:before {
                content: "\ea45";
                color: #e2e5e9;
            }
        }
        &.icon-play {
            &:before {
                content: "\e9e2";
                color: #8c91f9;
            }
        }
        &.icon-pdf {
            &:before {
                content: "\e930";
                color: #e2e5e9;
                font-size: 19px;
            }
        }
        &.icon-doc {
            &:before {
                content: "\e931";
                color: #e2e5e9;
                font-size: 19px;
            }
        }
        &.icon-file {
            &:before {
                content: "\e957";
                color: #e8e8e9;
                font-size: 20px;
            }
        }
        &.icon-setting-profile {
            &:before {
                content: "\ea1d";
                color: #abaebb;
                font-size: 18px;
            }
        }
        &.icon-setting-workspace {
            &:before {
                content: "\ea0d";
                color: #abaebb;
                font-size: 16px;
            }
        }
        &.icon-setting-member {
            &:before {
                content: "\ea09";
                color: #abaebb;
            }
        }
        &.icon-setting-member-blue {
            &:before {
                content: "\ea09";
                color: #8c91f9;
            }
        }
        &.icon-setting-invitation {
            &::before {
                content: "\ea05";
                color: #abaebb;
            }
        }
        &.icon-setting-channel-list {
            &:before {
                content: "\e913";
                color: #abaebb;
            }
        }
        &.icon-setting-invitation-white {
            &::before {
                content: "\ea05";
                color: #ffffff;
            }
        }
        
        &.icon-setting-menu {
            &:before {
                content: "\e9f2";
                font-size: 18px;
            }
        }
        &.icon-setting-signout {
            &:before {
                content: "\ea14";
                font-size: 16px;
            }
        }
        &.icon-setting-signout-white {
            &:before {
                content: "\ea15";
                color: #fff;
            }
        }
        &.icon-setting-save {
            &:before {
                content: "\ea12";
                color: #8c91f9;
            }
        }
        &.icon-setting-save-white {
            &:before {
                content: "\ea12";
                color: #ffffff;
            }
        }
        &.icon-setting-delete {
            &:before {
                content: "\ea18";
                color: #f85353;
                font-size: 18px;
            }
        }
        &.icon-settings-trash-white {
            &:before {
                content: "\ea18";
                color: #ffffff;
                font-size: 16px;
            }
        }
        &.icon-setting-upgrade {
            &:before {
                content: "\ea1a";
                color: #e8e8e9;
                font-size: 16px;
            }
        }
        &.icon-setting-downgrade-white {
            @include transform(translateY(-50%) rotate(180deg) !important);
            &:before {
                content: "\ea1c";
                color: #fff;
            }
        }
        &.icon-setting-chat-launch {
            &:before {
                content: "\e9ff";
                color: #8c91f9;
                font-size: 16px;
            }
        }
        &.icon-setting-add {
            &::before {
                content: "\e9f6";
                color: #fff;
                font-size: 10px;
            }
        }
        &.icon-setting-add-blue {
            &::before {
                content: "\e9f6";
                color: #8c91f9;
                font-size: 11px;
            }
        }
        &.icon-settings-view-password {
            &:before {
                content: "\ea21";
                color: #abaebb;
            }
        }
        &.icon-settings-back {
            &:before {
                content: "\e9f9";
                color: #4d5267;
            }
        }
        &.icon-settings-resend {
            &:before {
                content: "\ea10";
                color: #4d5267;
            }
        }
        &.icon-settings-arrow-right {
            height: 24px;
            width: 24px;
            @include transform(translateY(-50%) rotate(180deg) !important);
            &:before {
                content: "\e9f8";
                color: #fff;
            }
        }
        &.icon-chevron-right {
            &:before {
                content: "\eae1";
                color: #adb3cc;
            }
        }
        &.icon-settings-arrow-left {
            &:before {
                content: "\e9f8";
                color: #fff;
            }
        }
        &.icon-setting-cube {
            &:before {
                content: "\e9f1";
                color: #fff;
            }
        }
        &.icon-setting-user {
            &:before {
                content: "\ea1f";
                color: #fff;
            }
        }
        &.icon-setting-csv {
            &:before {
                content: "\e98d";
                color: #8c91f9;
            }
        }
        
        &.icon-setting-database {
            &:before {
                content: "\e9ef";
                color: #8c91f9;
            }
        }
        &.icon-setting-sorting {
            &:before {
                content: "\ea16";
                color: #fff;
            }
        }
        
        &.icon-setting-unarchive {
            &:before {
                content: "\ea3a";
            }
        }
        &.icon-apple {
            &:before {
                content: "\e907";
                color: #fff;
            }
        }
        
        &.icon-lock-white {
            &:before {
                content: "\e9c9";
                color: #ffffff;
            }
        }
        &.icon-lock-dark-blue {
            &:before {
                content: "\e9c9";
                color: #5056ca;
            }
        }
        &.icon-view {
            &:before {
                content: "\ea44";
                color: #fff;
                font-size: 12px;
            }
        }
        &.icon-list-boxes {
            &:before {
                content: "\e9c2";
                color: #fff;
                font-size: 12px;
            }
        }
        &.icon-volume-mute {
            &:before {
                content: "\ea46";
                color: #fff;
            }
        }
        &.icon-magic-wand {
            &:before {
                content: "\e9ce";
                color: #fff;
                font-size: 16px;
            }
        }
        &.icon-key-svgrepo {
            &:before {
                content: "\e9b7";
                color: #fff;
            }
        }
        &.icon-disabled-circle {
            &:before {
                content: "\e92e";
                color: #8c91f9;
                font-size: 16px;
            }
        }
        &.icon-disabled-circle-red {
            &:before {
                content: "\e92e";
                color: #f85353;
                font-size: 16px;
            }
        }
        &.icon-lock-open {
            &:before {
                content: "\e9ca";
                color: #fff;
            }
        }
    }
}

.app-content.light-theme {
    .ico {
        display: inline-block; background-size: contain !important; align-content: center !important;
        &.icon-settings-black {
            &:before {
                color: #33333f;
            }
        }
        &.icon-profile {
            &:before {
                color: #33333f;
            }
        }
        &.icon-setting-sorting {
            &:before {
                color: #000000;
            }
        }
        &.icon-circle-arrow-left { background: url($iconpath + "circle-arrow-left-white.svg") no-repeat center center; }
        &.icon-circle-arrow-right { background: url($iconpath + "circle-arrow-right-white.svg") no-repeat center center; }
        // &.icon-setting-office{height:18px;width:18px;background:url($iconpath + "settings-3d-office-blue.svg") no-repeat center center}
        // &.icon-setting-billing{height:18px;width:18px;background:url($iconpath + "settings-billings-blue.svg") no-repeat center center}
        // &.icon-setting-menu{height:18px;width:18px;background:url($iconpath + "settings-icon-blue.svg") no-repeat center center}
        // &.icon-setting-archive{height:16px;width:16px;background:url($iconpath + "archive-blue.svg") no-repeat center center}
        // &.icon-setting-unarchive{height:16px;width:16px;background:url($iconpath + "unarchive-blue.svg") no-repeat center center}
    }
}
