.video-chat-wrapper {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49,49 ,64,0.8);
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10vh;
        z-index: 99;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }

    @media (max-width:767px) {
        overflow: hidden;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: rgba(27, 27 ,27 ,0.4);
    }
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    button {
        outline: none !important;
        &:hover {
            @include opacity(0.8);
        }
        &:focus:not(:focus-visible) {
            outline: none !important;
        }
        &:focus-visible {
            outline: 3px solid #f0ab2e !important;
        }
    }
    
    .video-wrapper {
        position: fixed;
        height: 100vh;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 100px;
        @media (max-width:991px) {
            padding: 0 60px;
        }
        overflow: hidden;
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255 ,255 ,0.4);
        }
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        .video-block {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: top;
            object-position: top;
        }
    }
    .video-wrapper-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        padding: 25px;
        @include flexbox();
        @include align-items(center);@include justify-content(space-between);
        @media (max-width:767px) {
            padding: 15px;
        }
        .info-block {
            position: relative;
            .info-icon {
                width: 32px;
                height: 32px;
                background-color: rgba(0,0,0,0.6);
                border: none !important;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(100px);
                cursor: pointer;@include transition(0.2s, ease-in-out); 
                &.active {
                    background-color: rgba(80,86,202,0.9);
                }
            }
            .info-popup {
                background-color: #ffffff;
                min-width: 360px;
                width: 100%;
                visibility: hidden;
                top: -12px;
                left: 55px;
                position: absolute;
                display: none;
                @include opacity(0);
                @include transition(0.2s, ease-in-out); 
                @include border-radius(5px);

                @media (max-width:575px) {
                    min-width: 240px;
                }

                &.open-popup {
                    @include opacity(1);
                    visibility: visible;
                    display: block;
                    z-index: 99;
                }
                .inner-info-content {
                    overflow-y: auto;
                    max-height: 480px;
                    @media (max-width:767px) {
                        max-height: 440px;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: 10px;
                    border-right: 20px solid #ffffff;
                    border-top: 18px solid transparent;
                    border-bottom: 18px solid transparent;
                }
                @include box-shadow(0px 5px 12px rgba(0, 0, 0, 0.14));
                .info-header {
                    padding: 24px;
                    text-align: center;
                    border-bottom: 1px solid #E2E5E9;
                    .info-name{
                        width: 72px;
                        height: 72px;
                        color: #5056CA;
                        font-size: 22px;
                        font-weight: 600;
                        margin: 0 auto 12px;
                        background-color: #F2F5F9;
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        @include border-radius(100px);
                    }
                    .info-title {
                        color: #343434;
                        font-size: 17px;
                        font-weight: 600;
                        margin-bottom: 10px;
                        line-height: normal;
                    }
                    .sub-title{
                        font-weight: 600;
                        font-size: 14px;
                        color: #343434;
                        span {
                            color: #6C757D;padding-right: 5px;
                        }
                    }
                }
                .info-content {
                    padding: 15px;
                    .info-item {
                        ~ .info-item {
                            padding-top: 10px;
                        }
                        span {
                            color: #9C9C9C;font-size: 11px;
                            display: block;
                        }
                        .info-dec {
                            color: #2A2A2A;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: normal;
                            word-break: break-word;
                        }
                        .two-grid {
                            display: -ms-grid;display: grid; 
                            -ms-grid-columns: 1fr 10px 1fr; 
                            grid-template-columns: repeat(2, 1fr); 
                            grid-gap: 10px; 
                            margin: 5px 0;

                            @media (max-width:575px) {
                                grid-template-columns: repeat(1, 1fr);
                            }
                            .info-dec {
                                span {
                                    color: #2A2A2A;
                                }
                            }
                        }
                    }
                    .show-call {
                        color: #5056CA;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
        }
        .headphone-block {
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            padding: 0 10px;
            .headphone-content {
                background-color: #ffffff;
                padding: 6px;
                @include border-radius(4px);
                color: #343434;
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                .ico {
                    margin-right: 4px;
                }
                span {
                    color: #6C757D; font-size: 10px;
                    font-weight: 500;
                    padding-left: 7px;
                    white-space: nowrap;
                }
                .content-text {
                    color: #343434;
                    font-size: 14px;
                    font-weight: 500;
                    max-width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    @media (max-width:575px) {
                        max-width: 80px;
                    }
                }
            }
            .icon-pin-block {
                .ico {
                    margin-left: 5px;
                    height: 32px;
                    width: 32px;
                    background-color: #fff;
                    @include border-radius(100px);
                    padding: 5px;
                    cursor: pointer;
                    border: none;
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    &::before {
                        color: #000000;
                        font-size: 13px;
                    }
                }
            }
        }
        .comments-block {
            @include flexbox();
            @include align-items(center);
            @include justify-content(flex-end);
            position: relative;
            .ico {
                border: none !important;
            }
            .comment-icon-list {
                @include flexbox();
                @include align-items(center);@include border-radius(100px);
                padding-left: 7px;
                // &.active {
                //     background-color: rgba(0,0,0,0.6);
                // }
                .ico {
                    height: 32px;
                    width: 32px;
                    @include border-radius(100px);
                    padding: 5px;
                    cursor: pointer;
                    background-size: 15px !important;
                }
                .screen-block {
                    @include flexbox();
                    width: 0;
                    @include transition(0.3s, ease-in-out);
                    @include opacity(0);
                    position: absolute;
                    right: 50%;@include border-radius(100px);
                    .ico {
                        padding: 0;
                    }
                    &.open-popup {
                        @include opacity(1);
                        padding-right: 40px;
                        width: auto;
                        background-color: rgba(0,0,0,0.6);
                    }
                }
                .comment-icon {
                    @include flexbox();
                    position: relative;
                    &.active {
                        .icon-screen-2 {
                            @include opacity(0);
                        }
                        .icon-grid {
                            @include opacity(1);
                        }
                    }
                    .ico {
                        background-color: rgba(0,0,0,0.6);
                    }
                    .icon-grid {
                        background-color: #5056CA;
                        position: absolute;
                        left: 0;
                        right: 0;
                        background-size: 13px !important;
                        top: 0;@include opacity(0);
                    }
                }
            }
            .copy-list {
                @include flexbox();
                margin-left: 10px;
                position: relative;
                &.open {
                    .ico {
                        background-color:rgba(0 ,123 ,255, 90%);
                    }
                    .text-dec {
                        @include opacity(1);
                        visibility: visible;
                    }
                }
                .ico {
                    height: 32px;
                    width: 32px;
                    @include border-radius(100px);
                    padding: 5px;
                    cursor: pointer;
                    background-size: 13px !important;
                    background-color: rgba(0,0,0,0.6);
                }
                .text-dec {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    margin-top: 7px;
                    min-width: 130px;
                    color: #FFFFFF;
                    font-size: 13px;
                    @include opacity(0);
                    visibility: hidden;
                    font-weight: 500;@include border-radius(4px);
                    background-color: rgba(0,0,0,0.6);padding: 6px 10px;
                    line-height: normal;
                }
            }
        }
    }
    .video-wrapper-bottom {
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        z-index: 2;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @media (max-width:767px) {
            bottom: 40px;
            @include flex-wrap(wrap);
        }
        .has-blue-tooltip {
            .tool-tip-blue {
                bottom: calc(100% + 8px);
                top: auto;
                animation-name: none !important;
            }
        }
        .bg-purple {
            background-color: rgba(80 ,86, 202 ,0.9) !important;
        }
        .bg-red {
            background-color: rgba(233 ,36 ,36,0.9) !important;
        }
        .has-blue-tooltip {
            position: relative;
            display: flex;
        }
        .user-block {
            position: relative;
        }
        .screen-layout-block {
            position: relative;
            &.open {
                .dropdown-box {
                    @include opacity(1);
                    visibility: visible; 
                } 
            }
            .dropdown-box {
                @include opacity(0);
                visibility: hidden;
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                margin-bottom: 10px;@include transition(0.3s, ease-in-out);
            }
        }
        button.ico {
            width: 50px;
            height: 50px;
            margin: 0 10px;
            border: none !important;
            cursor: pointer;
            @include border-radius(100px);
            @include transition(0.3s, ease-in-out);
            background-color: rgba(0,0,0,0.6);
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            @media (max-width:767px) {
                margin: 0;
                @include transform(scale(0.8));
            }
            &.active {
                background-color: rgba(80 ,86, 202 ,0.9) !important;  
            }
            &:hover {
                background-color: rgba(0,0,0,0.8);
            }
            &.is-mute {
                background-color: rgba(233 ,36 ,36,0.9) !important;
                &::before {
                    content: "\eaf6";
                }
            }
            &.no-video {
                background-color: rgba(233 ,36 ,36,0.9) !important;
                &::before {
                    content: "\eae9";
                }
            }
        }
        .user-invite-popup {
            background: #FFFFFF;
            display: none;
            @include box-shadow( 0px 7px 15px rgba(0, 0, 0, 0.012));
            padding: 20px;
            min-width: 420px;
            width: 100%;
            visibility: hidden;
            bottom: 100%;
            left: 50%;
            @include transform(translateX(-50%));
            margin-bottom: 25px;
            position: absolute;
            @include opacity(0);
            @include transition(0.2s, ease-in-out);

            @media (max-width:575px) {
                min-width: 250px;
                padding: 15px;
            }

            &.open-popup {
                @include opacity(1);
                visibility: visible;
                display: block;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                width: 18px;
                margin: auto;
                bottom: -18px;
                border-right: 16px solid transparent;
                border-left: 16px solid transparent;
                border-top: 18px solid #ffffff;
            }
            .invite-title {
                color: #33333F;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
                @include flexbox();
                @include align-items(center);
                .ico {
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    margin: 0 0 0 auto;
                }
            }
            .search-input {
                margin-bottom: 20px;
                label {
                    color: #33333F;
                    font-size: 11px;
                    margin-bottom: 5px;
                    display: block;
                }
                .form-control {
                    background: #F2F5F9 url(../images/icons/search-gray.svg) no-repeat left center;
                    border: none;
                    border-bottom: 1px solid #4D5267;
                    padding-left: 36px;
                    height: 38px;
                    font-size: 16px;
                    color: #000;
                    -webkit-text-fill-color:#000;
                    width: 100%;
                    background-position: 10px;
                    @include border-radius(0);
                    &::placeholder {
                        color: #ABAEBB;
                    }
                }
            }
            .invite-link {
                color: #5056CA;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;
                text-decoration: none;
                margin-left: auto;
                position: relative;
                &.active {
                    color: #ACACAE;font-style: italic;font-weight: 400;
                    &::before {
                        background-color: #ACACAE;
                    }
                } 
                &:hover {
                    &::before {
                        width: 100%;
                        right: auto;
                        left: 0;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    right: 0;
                    bottom: 0;
                    background: #5056CA;
                    width: 0;
                    height: 1px;
                    @include transition(0.2s, ease-in-out);
                }
            }
            .user-channel-block {
                .channel-title {
                    color: #33333F;
                    font-size: 11px;
                    margin-bottom: 5px;
                    @include flexbox();
                    .channel-title {
                        margin-left: auto;
                    }
                }
                .member-items {
                    max-height: 280px;
                    overflow-y: auto;   
                    padding-right: 5px;
                    margin-right: -5px;
                    @media (max-width:575px) {
                        max-height: 240px;
                    }

                    .member-item {
                        @include flexbox();
                        @include align-items(center);
                        padding: 5px 0;
                        .user-name {
                            color: #2A2A2A;
                            font-weight: 500;
                            font-size: 16px;
                            @include flexbox();
                            @include align-items(center);
                            .user-img {
                                width: 30px;
                                height: 30px;
                                object-fit: cover;
                                @include border-radius(100px);
                                margin-right: 10px;
                                -webkit-box-flex: 0;-ms-flex: none;flex: none;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    .add-user-sidebar {
        position: fixed;
        right: -100%;
        @include opacity(0);
        visibility: hidden;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        overflow-y: auto;
        background-color: #FFFFFF;
        max-width: 360px;
        width: 100%;
        z-index: 10;
        @include transition(300ms, ease);

        @media (max-width:575px) {
            max-width: 280px;
        }

        &.is-active {
            right: 0;
            @include opacity(1);
            visibility: visible;
        }
        .collaspe-header {
            background-color: #F2F5F9;
            cursor: pointer;
            padding: 20px;
            &.active {
                .collapse-action {
                    .ico {
                        @include transform(rotate(0deg)); 
                    }
                }
            }
            .collapse-action {
                color: #343434;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                .ico {
                    @include transform(rotate(-90deg));
                    margin-right: 10px;
                    @include transition(0.3s, ease-in-out);
                    &::before {
                        font-size: 8px;
                    }
                }
            }
        }
        .collapse-card {
            &.open {
                height: calc(100% - 58px);
                .collapse-body {
                    height: calc(100% - 58px);
                }
            }
        }
        .collapse-body {
            display: none;
            .search-input {
                margin-bottom:10px;
                .form-control {
                    background: transparent url(../images/icons/search-gray.svg) no-repeat left center;
                    border: none;
                    border-bottom: 1px solid #9C9C9C;
                    padding-left: 25px;
                    height: 38px;
                    font-size: 14px;
                    color: #000;
                    -webkit-text-fill-color:#000;
                    width: 100%;
                    @include border-radius(0);
                    &::-webkit-input-placeholder {
                        color: #9C9C9C;
                    }
                    &::-moz-placeholder {
                        color: #9C9C9C;
                    }
                    &:-ms-input-placeholder {
                        color: #9C9C9C;
                    }
                    &::-ms-input-placeholder {
                        color: #9C9C9C;
                    }
                    &::placeholder {
                        color: #9C9C9C;
                    }
                }
            }
            .inner-collapse {
                padding: 20px;@include flex-direction(column);@include flexbox();height: 100%;
                .participants-items {
                    .participants-item {
                        @include flexbox();
                        @include align-items(center);
                        padding: 8px 0;
                        .user-img {
                            @include flexbox();
                            @include align-items(center);
                            .info-name {
                                width: 44px;
                                height: 44px;
                                color: #5056CA;
                                font-size: 14px;
                                font-weight: 600;
                                margin:0 10px 0 0;
                                background-color: #F2F5F9;
                                text-transform: uppercase;
                                @include border-radius(100px);
                                @include flexbox();
                                @include align-items(center);
                                @include justify-content(center);
                            }
                        }
                        .info-content {
                            font-size: 16px;
                            color: #343434;
                            font-weight: 500;
                            padding-left: 15px;
                            span {
                                font-size: 11px;
                                color: #9C9C9C;
                                display: block;
                            }
                        }
                        .icon-group {
                            margin-left: auto;@include flexbox();
                            @include align-items(center);
                            .ico {
                                margin-left: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .chat-block {
            -webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;
            .message-row-chat {
                margin-bottom: 10px;
                &.chat-send {
                    text-align: right;
                }
                &.chat-recive {
                    .text-item {
                        background-color: #6C6C6C;
                        color: #ffffff;
                    }
                }
                .sender-info {
                    color: #9C9C9C;
                    font-size: 13px;
                    font-weight: 500;
                    margin: 0;
                }
                .text-item {
                    color: #343434;
                    background-color: #F2F5F9;
                    @include border-radius(5px);
                    padding: 8px 10px;
                    display: inline-block;
                    max-width: 285px;
                    vertical-align: middle;
                    position: relative;
                    .message-text {
                        margin: 0;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
        }
        .message-write-wrapper {
            background-color: #F2F5F9;
            padding: 12px 20px;
            margin: 0 -20px -20px;
            .form-group {
                margin-bottom: 20px;
                .form-control {
                    border: none;
                    padding: 0;
                    color: #000;
                    -webkit-text-fill-color:#000;
                    font-size: 16px;
                    font-family: 'IBM Plex Sans', sans-serif;    resize: none;
                    height: auto;
                    width: 100%;
                    background-color: transparent;
                    &::placeholder {
                        color: #9C9C9C;
                    }
                }
            }
            .send-message-block {
                @include flexbox();@include align-items(center); margin-bottom: 25px;
                .send-title {
                    color: #9C9C9C;
                    font-size: 13px;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding-right: 10px;
                    -webkit-box-flex: 0;    -ms-flex: none;    flex: none;
                }
                .form-select{
                    color: #343434;
                    font-size: 15px;
                    font-weight: 500;
                    background-color: #FFFFFF;
                    padding: 5px 8px;
                    border: none;
                    width: 100%;
                    height: 30px;
                }
            }
        }
    }
    .video-screen-block {
        background-color: #2A2A2A;
        // position: absolute;
        // z-index: 1;
        // left: 0;
        // right: 0;
        // margin: 0 100px;
        @include flexbox();
        @include align-items(center);
        min-height: 100vh;
        // @media (max-width:991px) {
        //     margin: 0 60px;
        // }
        .bg-darkpink{
            background-color: #57485D !important;
        }
        .bg-darkgray {
            background-color: #484C5D !important;
        }
        .bg-darkgreen {
            background-color: #485D50 !important;
        }
        .bg-darkred {
            background-color: #5D4852 !important;
        }
        .mw-50 {
            .video-screen-item {
                width: 50% !important;
                height: 50vh !important;
            }
        }
        .mwh-50 {
            .video-screen-item {
                width: 50% !important;
                height: 100vh !important;
            }
        }
        .mwh-100 {
            .video-screen-item {
                width: 100% !important;
                height: 100vh !important;
            }
        }
        .mw-33 {
            .video-screen-item {
                width: 33.33% !important;
                height: 33.33vh !important;
            }
        }
        .video-screen-inner {
            width: 100%;
            overflow: hidden;
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(center);
            @media (max-width:767px) {
                left: 0;
                right: 0;
            }
            .video-screen-item {
                position: relative;
                overflow: hidden;
                .headphone-content {
                    background-color: rgba(52, 52 ,52 ,0.8);
                    padding: 6px;
                    color: #343434;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: normal;
                    position: absolute;
                    left: 15px;
                    top: 15px;
                    z-index: 1;
                    @include border-radius(4px);
                    @include inline-flex;
                    @include align-items(center);
                    @include justify-content(center);
                    .ico {
                        margin-right: 4px;
                        &::before {
                            color: #ffffff;
                        }
                    }
                    span {
                        color: #6C757D; font-size: 10px;
                        font-weight: 500;
                        padding-left: 7px;
                        white-space: nowrap;
                    }
                    .content-text {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 500;
                        max-width: 200px;
                        white-space: nowrap;
                        overflow: hidden;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        @media (max-width:575px) {
                            max-width: 80px;
                        }
                    }
                }
                .video-screen-bg-image {
                    @include flexbox();
                    height: 100%;
                    .video-bg-img{
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -o-object-position: top;
                        object-position: top;
                    }
                }
                .video-screen-bg {
                    background-color: #484C5D;
                    width: 100%;
                    height: 100%;
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    .user-info-name{
                        width: 72px;
                        height: 72px;
                        font-size: 24px;
                        font-weight: 500;
                        color: #ffffff;
                        text-transform: uppercase;
                        @include flexbox();
                        @include align-items(center);
                        @include justify-content(center);
                        @include border-radius(100px);
                        background-color: rgba(255, 255 ,255 ,0.2);
                    }
                }
            }
        }
    }
}

// video slider css
._video-slider-block {
    ._slider_next,
    ._slider_prev {
        width: 42px;
        height: 42px;
        cursor: pointer;
        background-color: rgba(255, 255 ,255 ,0.2);
        position: absolute;
        left: 30px;
        top: 0;
        bottom: 0;
        z-index: 10;
        margin: auto 0;
        text-decoration: none;
        @include transition(0.2s, ease-in-out);
        @include opacity(0.8);
        @include border-radius(100px);
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @media (max-width:991px) {
            left: 10px;
            width: 35px;
            height: 35px;
        }
        .ico {
            &::before {
                color: #ffffff;
            }
        }
        &:hover {
            @include opacity(1);
        }
    }
    ._slider_prev {
        .ico {
            @include transform(rotate(-180deg));
        }
    }
    ._slider_next {
        right: 30px;
        left: auto;
        @media (max-width:991px) {
            right: 10px;
        }
    }
    ._video-slider {
        position: relative;
        overflow: hidden;
        width: 100% !important;
        ._video-slides {
            position: relative;
            height: 100vh;
            margin: 0;
            padding: 0;
            list-style: none;
            ._video-slide {
                float: left;
                margin: 0;
                padding: 0;
                position: relative;
                background: #ccc;
                display: block;
                width: calc(100vw - 200px);
                text-align: center;
                @media (max-width:991px) {
                    width: calc(100vw - 120px);
                }
            }
        }
    }
}