.edit-profile-wrapper {
    max-width: 290px; margin: 10px auto;
    h2 {
        text-align: center; color: #333333; font-size: 30px; margin-bottom: 20px;
    }
    .edit-profile-block {
        border: 1px solid #E2E5E9; background-color: #ffffff; @include border-radius(20px); padding: 30px;
        .profile-input {
            .profile-preview {
                max-width: 90px; min-width: 90px; height: 90px; margin-right: 30px;
            }
            .profile-change-remove-btn {
                .change-remove-btn {
                    margin: 0;border: 1px solid #E2E5E9;background: #F7F8F9;@include border-radius(4px); color: #8690A0; font-size: 15px; font-weight: normal; cursor: pointer;padding: 5px 10px; min-width: 90px; min-height: 30px; line-height: normal; text-align: center;
                    ~ .change-remove-btn {
                        margin-top: 10px;
                    }
                }
            }
        }
        .form-action {
            .btn {
                display: block;
                width: 100%;
                cursor: pointer;
                margin: 20px 0;
            }
            a{
                color: #2B7AD5; font-size: 16px; display: inline-block;
            }
        }
    }
}